.about-us-hero {
	width: 100%;
	height: 100%;
	min-height: 150px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-size: cover;
	background-position: 50% 50%;
	@include media(">=desktop") {
		min-height: 330px;
	}
	.about-us-hero-link {
		border-radius: 6px;
		background-color: #FFFFFF;
		color: #4A4A4A;
		font-family: Quicksand;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		max-width: 266px;
		width: 100%;
		padding: 10px;
		@include media(">=desktop") {
			padding: 20px 10px;
		}
	}
}

.values-section {
	padding: 25px 0 40px;
	@include media(">=desktop") {
		padding: 35px 0 90px;
	}
}

.about-us-h3 {
	color: #4A4A4A;
	font-family: $f-stack-sans;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 45px;
	@include media(">=desktop") {
		margin-bottom: 55px;
	}
}

.values-section-holder {
	color: #4A4A4A;
	font-family: $f-stack-special;
	font-size: 16px;
	text-align: center;
	@include media(">=desktop") {
		margin: 0 -80px;
		display: flex;
	}
	.values-item {
		padding: 0 15px;
		@include media(">=desktop") {
			width: 33.33%;
			padding: 0 80px;
		}
		.values-img-holder {
			display: none;
			@include media(">=desktop") {
				max-width: 200px;
				height: 200px;
				border-radius: 100px;
				margin-bottom: 30px !important;
				display: block;
			}
		}
		.values-title {
			margin-bottom: 30px;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		.values-img-holder {
			margin: 0 auto;
		}
		span {
			display: block;
			margin-bottom: 15px;
			color: #808080;
			font-family: $f-stack-special;
			font-size: 22px;
			font-style: italic;
		}
	}
}

.why-us-section {
	background-color: #F4F3F1;
	padding: 40px 0;
	.why-us-holder {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.why-us-item {
			width: 50%;
			text-align: center;
			@include media(">=desktop") {
				width: 33.33%;
			}
			span {
				color: #4A4A4A;
				font-family: $f-stack-sans;
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
				max-width: 145px;
				display: block;
				margin: 0 auto;
			}
			.icon {
				width: 83px;
				margin: 0 auto 20px;
				img {
					display: block;
				}
			}
		}
	}
}

.also-section {
	padding: 30px 0;
	background: #FBFAF9;
	.also-holder {
		@include media(">=desktop") {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -20px 20px;
		}
		.also-item {
			margin-bottom: 30px;
			padding: 0 15px;
			text-align: center;
			@include media(">=desktop") {
				width: 50%;
				padding: 0 20px;
				text-align: left;
			}
			p {
				margin-bottom: 0;
			}
		}
		.also-heading {
			color: #5CB8A3;
			font-family: $f-stack-special;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			@include media(">=desktop") {
				justify-content: flex-start;
			}
			span {
				display: inline-block;
				margin-right: 10px;
				font-size: 32px;
			}
		}
	}
}

.founder-section {
	.founder-img {
		height: 160px;
		margin-bottom: 20px;
		overflow: hidden;
		background-position: 100%;
		background-size: cover;
		@include media(">=desktop") {
			height: auto;
		}
		img {
			height: auto;
		}
	}
}

.founder-name-holder {
	margin-bottom: 30px;
	@include media(">=desktop") {
		display: flex;
		margin-bottom: 50px;
		text-align: center;
	}
	.founder {
		text-align: center;
		@include media(">=desktop") {
			width: 50%;
		}
		span {
			color: #808080;
			font-family: $f-stack-special;
			font-size: 16px;
			font-style: italic;
			text-align: center;
		}
	}
	.founder-link {
		display: block;
		color: #5CB8A3;
		font-family: $f-stack-special;
		font-size: 20px;
		font-weight: bold;
		span {
			color: #5CB8A3;
		}
	}
	p {
		margin-bottom: 20px;
	}
}

.founder-text {
	text-align: center;
	color: #4A4A4A;
	font-family: $f-stack-special;
	font-size: 16px;
	line-height: 23px;
	padding: 0 15px;
}