/*********************/
/*main page mobile*/
.container {

    @include media ('<tablet-xl') {
        padding: 0;
    }
}


h3.title {
    @include media ('<tablet-xl') {
        margin: 0 10px 15px;
    }
}

.popular-brands-holder {

    @include media ('<=widescreen') {
        padding: 0 2px;
        touch-action: auto!important;
        display: flex;
        width: 100%;
        overflow-x: scroll;
        justify-content: left;
        margin:0;
        &::-webkit-scrollbar { width:0; }
    }
    .popular-brands-item{
      
        @include media ('<=widescreen') {
            padding: 0 2px;
            margin: 0 2px;
        }

        .img-holder {
            width:121px!important;
            max-width: 100%;
            height: 121px!important;
        }
    }
}

.sale-item-description {
    margin-top:10px;
}

.banners-section-holder {
    .banner-holder {
        @include media ('<tablet-xl') {
            width:100%;
            padding: 0;
        }
    }
    @include media ('<tablet') {
        padding: 0 10px;
        margin: 0;
    }
}
.proposition-section-holder {
    display: flex;
    padding: 30px 0;
    flex-flow: wrap;

    @include media ('<tablet-xl') {
        display: none;
        .proposition-item {
            width:100%!important;
            padding: 0 25px 20px 0;
            span {
                min-width: 80px;
                display: flex;
                justify-content: center;
            }
            .icon-ventaja03 {
                font-size: 40px;
            }
        }
    }

    @include media ('<desktop') {
        .proposition-item{
            width:50%;
        }
    }
}

.quotes-section {
    blockquote{
        font-family: $f-stack-special;
        @include media ('<tablet-xl') {
            padding: 0 20px;
        }
    }
}

.categories-section .categories-item {
    @include media ('<tablet-xl') {
        margin:0;
    }
}


.top-products-list,
.popular-brands-item {
    @include media ('<tablet-xl') {
        padding: 0 10px!important;
    }
}

/*loader*/
.top-products-loader {
    position: relative;
    min-height: 300px;
    .top-products-loader-img{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }    
}



.top-products-list{
    @include media ('<tablet-xl') {
        margin-bottom: 10px;
        li {
            margin-right: 30px;
        }
    }
}

.hero-section {
    .carousel  {
        @include media ('<tablet-xl') {
            height:220px;
        }
    }
}

.product-rating-null {
    height:28px;
}


    .recomends-slider,
    .slick-sale-slider,
    .popular-brands-holder,
    .top-products-list {
        @include media ('<tablet-xl') {
            touch-action: auto!important;
            display: flex;
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            justify-content: left;
            &::-webkit-scrollbar { width:0; }

            .slick-sale-item {
                padding-left: 10px;
            }
            .product-item {
                min-width: 145px;
                padding-left: 10px;
                width: auto;
                .product-item-holder {
                    padding: 20px 5px 15px;
                }
                img {
                    width:100%;
                }
                .product-name a {
                    font-size: 13px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;     
                }
                .price {
                    font-size: 18px;
                }
                .btn {
                    text-transform: uppercase;
                }
                .price-box {
                    margin: 0;
                }
                .discount {
                    span {
                        position: absolute;
                        top:0;
                        z-index: 10;
                        background: $white;
                        left:0;
                    }
                    .pink {
                        top: 24px;
                        width: auto;
                    }
                }
            }

        }
    }

    .block-subscribe {
        .form-subscribe-header{
                @include media ('<tablet-xl') {
                    text-align: center;
                    width:100%;
                    label {
                        font-size: 14px;
                    }

                    .block-title {
                        padding: 15px 0 30px;
                    }
            }
        }

        .block-content {
            @include media ('<tablet-xl') {
                flex-flow: wrap;
                justify-content: center;
            }
            >dl >dt {
                padding: 10px 20px;   
            }
        }
    }

/*blog banners main page*/
.blog-banners {
    .img-blog-desktop {
        @include media ('<tablet-xl') {
            display: none;
        }
    }

    .img-blog-mobile {
        display: none;
        @include media ('<tablet-xl') {
            display: block;
        }
    }
}

.clients-opinion {
    @include media ('<tablet-xl') {
    .clients-opinion-holder{
        margin: 0 10px;
        flex-flow: wrap;
        justify-content: center;
        padding: 20px 40px;
        text-align: center;
        width:auto!important;
        .mark {
            margin-bottom: 20px;
        }
    }
    .comentarios-holder {
        flex-flow: wrap;
        justify-content: center;
        flex-flow: column;
        align-items: center;
            span,
            .img-holder {
                margin-bottom: 10px;
            }
        }
    }
}

.categories-section{
    @include media ('<tablet-xl') {
        padding: 20px 0;
    }
    .categories-holder {
        @include media ('<tablet-xl') {
            margin:0;
        }
        .img-holder {
            @include media ('<tablet-xl') {
                display: none;
            } 
        }
        h5 {
            @include media ('<tablet-xl') {
                border: 2px solid #DAD6CA;	
                border-radius: 6px;	
                background-color: #FBFAF9;
                margin:10px;
                color: #4A4A4A;
                font-family: $f-stack-sans;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                text-align: center;
                transform: none!important;
                padding: 10px 0;
                position: relative;
                text-transform: capitalize;
                left:0;
            }
            span {
                display: none;
                @include media ('<tablet-xl') {
                    display: inline-block;
                    position: absolute;
                    right:15px;
                    top:50%;
                    transform: translateY(-50%);
                    z-index: 10;
                }
            }
        }
    }
}

/*footer*/
.footer-inner {
    .opener {
        position: relative;
        span {
            display: none;
        }
    }
    @include media ('<tablet-xl') {
        padding: 0 10px;
        flex-flow: column;
        .footer-row {
            margin-bottom: 10px;
            width: 100%!important;
        }

        .opener {
            span {
                color: #ccc;
                display: block;
                position: absolute;
                right:20px;
                top:50%;
                transform: translateY(-50%);
                font-size: 20px;
            }  
          }
    }
}

/*category list styles*/
/*rating*/
.ratings .rating-box{
    background-image: url(../images/leaf_empty.svg);
    background-position: 0;
    background-size: 13px;
    margin:0!important;
}

.ratings .rating-box .rating {
    background-image: url(../images/leaf_fill.svg);
    background-position: 0;
    background-size: 13px;
}

.toolbar {
        border: 1px solid #EBE7E4;
        border-radius: 6px;
        background-color: #FBFAF9;
        margin-bottom: 20px;
        .limiter {
            display: none;
        }

        @include media ('<tablet') {
            .sorter {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F4F3F1;
                position: absolute;
                top: 38px;
                left: 0;
            }
            .pager {
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #A2A2A2;
                font-family: $f-stack-special;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.21px;
                line-height: 19px;
            }
        }
}

.breadcrumbs {
    margin: 24px auto;
    max-width: $max-content-width;
    a,
    strong {
        color: #4A4A4A;	
        font-family: $f-stack-special;
        font-size: 16px;	
        font-style: italic;	 
        letter-spacing: 0.3px;	
        line-height: 19px;
        text-transform: capitalize;
    }

    a {
        opacity: .7;
    }

    strong {
        opacity: 1;
    }

    ul {
        max-width: $max-content-width;
        margin:0 auto;
    }
}
/*main page scroll mobile blocks*/
.popular-brands-holder::-webkit-scrollbar { width: 0; }

.catalog-category-view{

    .jcf-select-drop {
        z-index: 100;
    }

    .main {
        max-width: $max-content-width;
        margin:0 auto;  
    }

    .breadcrumbs {
        display: block;
        @include media('<widescreen'){
            padding: 30px 10px;
        }
        @include media('<tablet'){
            margin-top: 60px;
            padding: 0 10px;
            margin-bottom: 10px;
        }
    }

    .cat-heading-text {
        @include media('<widescreen'){
            padding: 0 10px;
        }  
    }

    .col-left {
        @include media('<widescreen'){
            padding-left:10px;
        }
        @include media('<tablet'){
            padding-left: 0;
        }
    }

    .col-main {
        @include media('<widescreen'){
            padding-right:10px;
        }
        @include media('<tablet'){
            padding-right: 0;
        }
    }

        @include bp(max-width, $bp-medium) {
            width:100%;
            .banners-section-holder{
                flex-flow: column;
            }

            .banner-holder{
                width: 100%;
            }
        }

    .subcat-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 10px 0 30px;
        flex-flow: wrap;
        li {
            min-width: 140px;
            margin-bottom: 20px;
            padding: 0 10px;
        }
        span {
            color: #616161;
            font-family: $f-stack-sans;
            font-size: 14px;
            font-weight: bold;
            line-height: 18px;
            border-top: 2px solid #EBE7E4;
            line-height: 1.3;
            width: 100%;
            display: block;
            padding-top: 5px;
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    /*accordion icon*/
    .block-layered-nav{
        &.amshopby-collapse-enabled {
            dt{
                background: none;
                position: relative;
                padding-left: 25px;
                @include media ('<tablet'){
                    border-radius: 0;
                    border: none;
                    border-bottom: 1px solid #Ccc!important;
                    &:after {
                        display: none;
                    }
                }

                i {
                    position: absolute;
                    right: 20px;
                    font-size: 26px;
                    top: 15px;
                    transform: rotate(180deg);
                }

                &.amshopby-collapsed {
                    i {
                        transform: rotate(0);
                    }
                }
            }

            .mobile-filters {
                @include media ('>tablet') {
                    display: none;
                }

                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    >a {
                        padding-right: 0;
                    }
                    span {
                        font-size: 18px;
                        padding: 0;
                    }
                }
            }
        }
    }

    .amshopby-filters-left {    
        border-bottom: 1px solid #ccc;

        .block-title {
            display: none!important;
        }
        .block-content{
            margin-top: 0;
        }
        /*empty checkbox*/
        .amshopby-attr {
            position: relative;
            background: none;
            background-image: none!important;
            padding-left: 30px;
            &:before {
                    content:"";
                    position: absolute;
                    left:0;
                    top:50%;
                    transform: translateY(-50%);
                    height: 18px;
                    width: 18px;
                    border: 1px solid #D3D3D3;
                    border-radius: 3px;
                    background-color: #FFFFFF;
            }
        }
        /*check checkbox*/
        .amshopby-attr-selected {
            position: relative;
            background: none;
            background-image: none!important;
            padding-left: 30px;
            &:before {
                content:"";
                position: absolute;
                left:0;
                top:50%;
                transform: translateY(-50%);
                height: 18px;
                width: 18px;
                border: 1px solid #D3D3D3;
                border-radius: 3px;
                background-color: #5CB8A3;
            }
            &:after {
                content:"";
                position: absolute;
                left:4px;
                top:50%;
                color:$white;
                transform: translateY(-50%);
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                content: "\e90f";
            }
        }
    }

    .cat-heading-text {

        @include media ('<tablet') {
            padding: 0 10px;
        }

        h3 {
            color: #4A4A4A;
            font-family: $f-stack-sans;
            font-size: 24px;
            font-weight: bold;
            line-height: 30px;
            margin-bottom: 15px;
            text-transform: none;
        }
        .category-description {
                color: #808080;
                font-family: $f-stack-special;
                font-size: 14px;
                line-height: 20px;
                position: relative;
                padding-left: 15px;
                margin-bottom: 23px;
                &:before {
                    content:"";
                    display: block;
                    position: absolute;
                    top: 6%;
                    left: 0;
                    border-radius: 3px;
                    background-color: #E9E1DA;
                    width: 5px;
                    height: 85%;
                }
            }

            .cat-show-more {
                    color: #616161;
                    font-family: $f-stack-special;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 0.19px;
                    line-height: 18px;
                    text-transform: uppercase;
            }
    }

    .unavailable-text {
        display: block;
        margin-bottom: 10px;
            color: #DD5861;
            font-family: $f-stack-special;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            text-align: left;
    }

    .product-grid-item {
        text-align: left;
        .old-price {
            margin-bottom: -3px;
            span {
                color: #9B9B9B;
                font-family: $f-stack-special;
                font-size: 13px;
                font-weight: 500;
                line-height: 19px;
            }
        }

        .brand-name{
            a {
                font-family: $f-stack-special;
            }
        }

        .discount {
            z-index: 100;
            width: 100%!important;
            span {
                font-family: $f-stack-special;
            }
        }

        .special-price {
            padding-left: 0;
        }
        .btn{
            text-transform: uppercase;
            &.btn-disabled {
                opacity: .3;
                pointer-events: none;
            }
        }
    }

    .narrow-by-list {
        dl dd {
            margin:0; 
        }
        dd, dt {
            background-color: #FBFAF9!important;
        }
        dt {
            &:first-of-type {
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
            }
            &:nth-of-type(2){
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;       
            }
        }
        dd {
            &:first-of-type {
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;
                border-width: 1px!important;
                margin-bottom: 20px;
            }

            &:last-of-type {
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;
                border-width: 1px!important;
            }
        }
        .filter-options {
            border-top:0!important;
            a{
                color: #4A4A4A;
                font-family: $f-stack-special;
                font-size: 16px;
                font-weight: 500;
                line-height: 31px;

                .count {
                    color: #C0C0C0;	
                    font-family: $f-stack-sans;
                    font-size: 14px;	
                    font-weight: bold;	
                    line-height: 31px;
                    padding-left: 5px;
                    }
                }

                .input-text {
                    background: $white;
                    border-radius: 3px;
                    padding: 12px;
                        color: #4A4A4A;
                        font-family: $f-stack-sans;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                    height:auto;
                    }

                .form-button {
                    background: transparent;
                    height:auto;
                    padding: 8px;
                    border-radius: 3px;
                    margin-top: -2px;
                    color:#5CB8A3;
                    border:1px solid #5CB8A3;
                }

                .amshopby-clearer {
                    >a {
                        color: #C0C0C0;
                        font-family:$f-stack-special;
                        font-size: 13px;
                        font-weight: bold;
                        letter-spacing: 0.21px;
                        line-height: 19px;
                        text-transform: uppercase;
                    }
                }

                .remove-filter {
                    font-size: 0;
                    position: absolute;
                    right: 20px;
                    &:before {
                        display: none!important;
                    }
                    &:after {
                        color:#ccc;
                        font-size: 24px;
                        display: block;
                        content:"\e950";
                        position: absolute;
                        top:0;
                        right:0;
                        font-family: 'icomoon' !important;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                    }
                }
            }
        .catname {
            text-transform: capitalize;
            border-bottom: 0!important;
            padding: 10px 23px 10px;
            color: #4A4A4A;
            font-family: $f-stack-special;
            font-size: 18px;
            font-weight: bold;
            line-height: 26px;
            &.filter-active {
                position: relative;
                display: block;
                @include media ('<=tablet') {
                    &:after{
                        content:"";
                        position: absolute;
                        top:0;
                        left:0;
                        display: block;
                    }
                }
            }
        }
    }

    .full-wrapper {
        max-width: 100%;
        background-color: #FBFAF9;
        padding: 44px 0;
        margin: 25px 0;
    }

    .product-list-block {
        max-width: $max-content-width;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media ('<tablet-xl') {
            flex-flow: column;
            align-items: flex-start;
            padding: 0 10px;
        }

        span {
                color: #4A4A4A;
                font-family: $f-stack-sans;
                font-size: 16px;
                font-weight: bold;
                line-height: 20px;
                text-transform: uppercase;
                @include media ('<tablet-xl') {
                    margin-bottom: 20px;
                }
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            @include media ('<tablet-xl') {
                overflow-x: scroll;
                width: 100%;
            }
            img {
                max-width: 120px;
                padding: 10px;
            }
            li {
                padding: 0 6px;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background: $white;
                border-radius: 8px;
                &:hover {
                    opacity: .7;
                    @include animate(opacity);
                }
            }
        }
    }
}



/*product page styles*/
.catalog-product-view {
    .main {
        
    }

    .sharing-links {
        display: none;
    }

    .sub-add-to-cart{
        float:right;
        width: 100%;
        margin-bottom: 20px;
        .icon-holder {
            float: right;
            width: 50%;
            padding-left: 15px;
            display: flex;
            position: relative;
        }

        .text-holder {
            position: absolute;
            bottom: -20px;
            left:0;
            display: block;
            color: #535353;	
            font-family: $f-stack-special;
            font-size: 14px;
            line-height: 1;
            border: 1px solid #D8D8D8;
            border-radius: 4px;
            background-color: #FFFFFF;
            box-shadow: 0 1px 2px 0 rgba(165,165,165,0.5);
            padding: 10px 13px;
            max-width: 380px;
        }
    }

    .delivery-options {
        float: left;
        width: 50%;
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        padding-left: 76px;
        span {
            color: #4A4A4A;	
            font-family: $f-stack-special;	
            font-size: 14px;	
            line-height: 20px;
            b{
                font-weight: bold;	
            }
        }
    }

    /*thumbnails*/
    .product-img-box {
        display: flex;
    }

    .product-image {
        order: 2;
        width: 100%;
    }

    .more-views {
        order: 1;
        h2 {
            display: none;
        }

        .product-image-thumbs {

        }
    }

    .col-main {
        background-color: #FBFAF9;
        padding: 48px 0;
        .product-view {
            max-width: $max-content-width;
            margin:0 auto;
        }
    }
}

.product-view {
	.product-shop {
	  .product-name {
		.h1 {
          font-family: $f-stack-sans;
		  color: #636363;
		  font-size: 24px;	
		  font-weight: bold;	
		  line-height: 30px;
		}
	  }
    }
    
    .add-to-cart-buttons {
        .button {
            border-radius: 3px;	
            background-color: #5CB8A3;	
            box-shadow: 0 2px 0 0 #529888;
            span {
                color: #FBFAF9;	
                font-size: 16px;	
                font-weight: bold;	
                line-height: 23px;	
                text-align: center;
            }
        }
  }
  
}


/*cart css*/

.fade-body {
    overflow: hidden;
    position: relative;
    &:after{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display: block;
        background-color: rgba(#808080, .6);
    }
}

.skip-account {
    background: transparent!important;
}


.header-minicart {
    

    .block-subtitle {
       a.close {
            position: absolute;
            left: 10px;
            color: $white;
            transform: rotate(-180deg);
            font-size: 14px;
            top: 13px;
            &:before {
                color:inherit;
            }
        }
    }

    .block-content {
        background-color: #FBFAF9;
    }

    .subtotal,
    .total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        background-color: transparent!important;
        color: #4A4A4A;
        .label {
            color: #4A4A4A!important;
            display: block!important;
        }
    }

    .total {
        .label {
                font-family: $f-stack-special;
                font-size: 22px;
                font-weight: bold;
                line-height: 31px;

        }
    }

    .mini-products-list {
        overflow-y: scroll;
        height: 55vh;
        li {
            display: flex;
            align-items: center;
        }

        .product-image {
            border: none;
            width: 28%;
            @include media ('<phone'){
                width:35%;
            }
        }
    }

    .info-wrapper {
        width: 100%;
    }

    .empty{
        i {
            display: block;
            font-size: 40px;
            text-align: center;
            margin-bottom: 10px;
            }
        position: absolute;
        top: 40%;
        width: 100%;
        transform: translateY(-50%);
        color: #4A4A4A;
        font-family: $f-stack-special;
        font-size: 16px;
        line-height: 23px;
        }

        .remove {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 18px;
            margin: 0;  
        }

        .shipping-toolbar {
            background-color: #F4F3F1;
            padding: 9px 0;
            .title-block{
                color: #4A4A4A;
                font-family: $f-stack-special;
                font-size: 13px;
                font-weight: bold;
                line-height: 19px;
                text-align: center;
                }

                .start-price,
                .end-price {
                        color: #4A4A4A;
                        font-family: $f-stack-sans;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 16px;
                    }
        }

        .toolbar-block {
            background-color: #F4F3F1;
            color: #4A4A4A;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            }
        
        .toolbar-wrap {
            background-color: $white;
            border-radius: 6px;
            height:8px;
            margin: 0 20px;
            width: 60%;
            overflow: hidden;
            span {
                border-radius: 4.5px;	
                background-color: #CCDC45;
                height: 100%;
                display: block;
            }
        }
    
    .minicart-actions {
        .checkout-button {
            text-align: center;
            border-radius: 3px;
            background-color: #5CB8A3;
            box-shadow: 0 2px 0 0 #529888;
            font-size: 16px;	
            font-weight: bold;	
            line-height: 23px;
            justify-content: center;
            color: $white;
            width: 100%;
            padding: 14px 0;
            &.checkout-button-disabled {
                opacity: .3;
                pointer-events: none;
            }
        }
    }

    .brand-name{
        a{
            color: #9B9B9B;
            font-family: $f-stack-special;
            font-size: 13px;
            font-weight: 500;
            line-height: 19px;
            margin-bottom: 0;
            
        }
    }

    .quantity-button {
        background-color: #5CB8A3;
        padding: 4px 12px;
        border-radius: 4px;
        margin-left: 5px;
    }

    .price-text {
        display: none;
    }

    .qty-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .qty {
        background: none;
        border:none;
        color: #4A4A4A;	
        font-family: $f-stack-special;
        font-size: 14px;	
        line-height: 20px;
        width: 30px!important;
        padding: 0;
        margin: 0;
    }

    .amount {
            color: #C0C0C0;
            font-family: $f-stack-special;
            font-size: 11px;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 8px;
        }
        .bottom-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .minus-btn,
        .plus-btn{
            border: 2px solid #6BB7A6;	
            border-radius: 4px;	
            background-color: #FFFFFF;
            outline: none;
            width:47px;
            height:27px;
            color:#6BB7A6;
        }

        .minicart-wrapper{
            height:100%; 
            margin-bottom: 0;
            .block-subtitle{
                background-color: #808080;
                color: $white;	
                font-family: $f-stack-sans;
                font-size: 14px;	
                font-weight: bold;	
                line-height: 18px;
                padding: 10px 0;
            }

            .price-wrap {
                display: flex;
                align-items: baseline;
            }

            .old-price {
                margin-right: 10px;
                .price {
                        color: #C0C0C0;
                        font-family: $f-stack-special;
                        font-size: 11px;
                        font-weight: 500;
                        line-height: 16px;
                        text-align: right;
                        text-decoration: line-through;
                    }
            }
            .price{
                color: #4A4A4A;
                font-family: $f-stack-special;
                font-size: 20px;	
                font-weight: bold;
                line-height: 23px;
                text-transform: none;
            }
        }

        .subtotal {
            border-bottom: 1px solid #EDEBE5;
            .label {
                    color: #4A4A4A!important;
                    font-family: $f-stack-sans;
                    font-size: 12px;
                    line-height: 15px;
                }
        
            .price {
                    color: #4A4A4A!important;
                    font-family: $f-stack-sans;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    text-align: center;
                }
        }

    .product-details {
        margin-left:0!important;
        width: 100%;
        .product-name {
            margin-bottom: 0;
            a{
                color: #4A4A4A!important;
                font-family: $f-stack-special;
                font-size: 16px;	
                font-weight: 500;	
                line-height: 23px;
                text-transform: none;
                margin-bottom: 0;
                min-height: 42px;
            }
        }
    }


    #header-cart{
        transition: all .2s ease-in-out;
        position: fixed;
        right: -500px;
        border: solid 1px #CCCCCC;
        display: block;
        background: $white;
        height: 100vh;
        top: -40px;
        @include media ('<tablet-xl') {
            top:0;
        }

        &.skip-active {
            top: -35px;
            position: fixed;
            right: -42px;
            z-index: 999;
            border: none;
            margin-bottom: 0;
            @include media ('<desktop') {
                right: -15px;
                top: -58px;
            }
            @include media ('<=tablet') {
                width:100%;
                top: 0;
                right: 0;
            } 
        }
    }
}

.minicart-down {
    bottom: 0;
    position: absolute;
    width: 100%;
    left:0;
    .block-content,
    .minicart-actions {
        padding: 0 10px 0!important;
        background-color: #FBFAF9;
        margin-top: 0;
    }
}

.header-minicart .block-cart{
    display: block!important;
}


/*mobile filters */

.filter-holder {
    .back-icon {
        display: none;
    }
    .block-subtitle {
        &.block-subtitle--filter {
            color: #4A4A4A;
            font-family: $f-stack-special;
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            text-transform: none;
        }
        @include media ('<=tablet'){
            text-align: center;
            background-color: #F4F3F1!important;
            color: #4A4A4A!important;
        }
    }
    .icon-close {
        display: none;
    }
    .amshopby-apply-block {
        display: none;
    }
    &.active {
        position: fixed;
        top:0;
        left:0;
        width:95%;
        height:100%;
        z-index: 999;
        background-color: #FBFAF9;
        
        &:after {
            content:"";
            position: absolute;
            top:0;
            right: -100%;
            width: 100%;
            background: rgba(#ccc, .6);
            height: 100%;
        }

        .amshopby-apply-block {
            display: block;
        }
        .icon-close {
            display: block;
            position: absolute;
            top:7px;
            right:20px;
            font-size: 25px;
            color: #4A4A4A;
        }

        .toggle-content{
            position: relative;
            height: 92%;
            overflow: scroll;
        }
        #narrow-by-list {
            border: none;
        }
        dt {
            i{
                transform: rotate(-90deg)!important;
            }
        }

        .amshopby-apply-block {
            margin: 0 10px;
            button {
                width: 100%;
                background: #5CB8A3;
                color: $white;
            }
        }

        .hide-block {
            display: none!important;
        }
        .open-block {
            display: block!important;
            border: none!important;
            background: none!important;
            padding: 0!important;
            li {
                padding: 0 10px;
                a{
                    background: transparent!important;
                }
            }
            .icon-angle-down{
                display: none;
            }

            &.catname {
                margin-top: 20px;
                padding: 10px!important;
                border-top: 1px solid #EDEBE5!important;
                border-bottom: 1px solid #EDEBE5!important;
            }
        }

        .back-icon {
            display: block;
            width: 50px;
            height: 33px;
            position: absolute;
            z-index: 999;
            padding: 10px;
            transform: rotate(180deg);
            text-align: right;
        }

        .block-layered-nav {
            dt {
                &:hover {
                    color: #4A4A4A;
                }
                &:after {
                    display: none!important;
                }
            }
        }
    }
}


.category-products {
    @include media ('<=tablet') {
        padding: 0 10px;
    }
}


.toolbar {
	@include media ('<tablet') {
		background-color: transparent!important;
		border: none!important;
		display: flex;
		flex-flow: column;
		.pager {
			float: none;
			margin:0 auto;
			order: 2;
		}
		.sorter {
            order: 1;
            width: 100%;
		}

    }
}


.toolbar-ajax {
    .count-container {
        width: 100%;
        text-align: center;
    }
    .tool-wrap {
        width:112px;
        background-color: #BEBEBE;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .tool-line {
        height: 4px;
        border-radius: 2.5px;	
        background-color: #CCDC45;
    }

    .pages {
        float: none;
        text-align: center;
        margin-left: 0;
    }

    .i-next,
    .i-previous {
        width: auto;
        color: #616161;
        font-family: $f-stack-special;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.26px;
        line-height: 23px;
        padding: 14px 35px;
        margin: 10px 0;
        height: auto;
            border: 2px solid #E0E0E0;
            border-radius: 3px;
            &:before {
                display: none;
            }
            &:hover {
                border: 2px solid #E0E0E0;
                text-decoration: none;
                &:before {
                    display: none;
                }
            }
    }
}


.block-subtitle--filter {
    .icon-filter {
        opacity: .5;
    }
}

.toolbar-filters {
    @include media ('<tablet'){
        display: none;
    }

}

.aside-filter {
    @include media ('<tablet'){
        margin-top: 40px;
    }
    .sorter .sort-by label {
        font-weight: 500;
    }
}
.amshopby-page-container {
    width:75%;
    float:right;

    @include media ('<=tablet'){
        float: none;
        width:100%;
    }

    .scroll-to-top {
        display: none;
        right:5%!important;
        height: 45px;
        width: 45px;
        top:unset!important;
        left:unset!important;
        bottom: 40px;
        background-color: #FBFAF9;
        box-shadow: 0 0 4px 0 rgba(109,109,109,0.5);
        border-radius: 50%;
        z-index: 999;
        cursor: pointer;
        @include media ('<tablet-xl') {
            display: none;
        }
        i {
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            transform: rotate(-90deg);
            display: block;
            &:before {
                content: "\e943"
            }
        }
    }

    .sticky-wrap-scroll-to-top {
        &.fixed-position {
            .scroll-to-top {
                display: block;
            }
        }
    }
}


.products-grid {

    .price-box {
        margin:0!important;
    }
}


/*safari cart fix*/
.minicart-wrapper .ui-dialog{
    position: absolute;
    top: 100%;
    right: 0;
    }

.single-choice {
    >li {
        display: flex;
        align-items: flex-end;
        @include media ('<=tablet-xl') {
            flex-flow: wrap;
        }
    }
    .row-wrap{
        display: flex;
        flex-flow: column;
        padding-right: 10px;
    }
    label {
            color: #C0C0C0;
            font-family: $f-stack-special;
            font-size: 14px;
            font-weight: bold;
            line-height: 31px;
    }

    .jcf-select {
        height: 43px;	
        width: 75px;
        justify-content: left;
        padding: 0 5px;
        border: 1px solid #D7D7D7;
        border-radius: 5px;
        background-color: #FFFFFF;
        color: #4A4A4A;
        font-family: $f-stack-special;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        display: flex;
        align-items: center;
        position: relative;
        }
    }

.products-grid .ratings .amount{
    display: block;
    margin-top: -5px;
}

.banners-section-holder {
    .banner-holder {
        @include media ('<tablet'){
            height: auto; 
        }

        img {
            @include media ('<=tablet-xl'){
                width: auto;
            }
            object-fit: contain;
            height: 100%;
        }
    }

}

.text-product-unavailable {
        color: #DD5861;
        font-family: $f-stack-special;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 7px;
        display: block;
        text-align: left; 
}

.block-layered-nav .block-content > dl > dd {
    padding: 10px 20px!important;
}

/*mobile menu open bg in page*/
body {
    &.nav-active{
        overflow: hidden;
        @include media ('<tablet-xl'){
            #header-nav {
                overflow-y: scroll;
                height: 100vh;
            }
        }
        &.mobile-popup-active {
            #header-nav {
                overflow: hidden;
            }
        }
    }
}

/*input label wrapper*/
.input-wrapper {
    position: relative;
    label {
        position: absolute;
        top: 2px;
        left: 17px;
        opacity: 0;
        color: #808080;
        font-family: $f-stack-special;
        font-size: 12px;
        line-height: 18px;
        display: block!important;
    }

    &.showLabel {
        label {
            opacity: 1;
            transition: all .4s ease-in-out;
        }
        input {
            transition: all .4s ease-in-out;
        }
    }
}

/*mobile menu*/
.nav-primary li {
    @include media ('<tablet-xl'){
        flex-flow: column;
    }
}

.nav-1.popup-active {
    .header-nav-popup-inner{
        display: block!important;
    }
}
.object-holder {
    height:600px;
    overflow-y: scroll;
}

.nav-active .nav-1-list{
    padding-left: 20px;
    padding-bottom: 20px;
}

.header-nav-popup .list-holder a.active {
    @include media ('<tablet-xl'){
        color: #5CB8A3;
        border-bottom: none!important;
    }
}

/*my account pages*/
.customer-account {

    .jcf-list-content {
        ul {
            border: 1px solid #E4E2E2;
            background-color: #FCFBFB;
            padding: 3px;
            border-radius: 4px;
            li{
                cursor: pointer;
            }
        }
    }

    .main {
        max-width: 1200px;
        margin: 50px auto;
        .col-main {
            float: right;
            width: 75%;
            padding-left: 40px;
            @include media ('<=770px'){
                width:100%;
                padding: 0 10px;
                .scaffold-form {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }  

    .block-account {
        border: 1px solid #EBE7E4;
        border-radius: 6px;
        background-color: #FBFAF9;
        @include media ('<=770px'){
            margin: 0 10px;
        }

    }

    .block-title{
        border-bottom: 1px dotted #D3D3D3;
        padding: 18px;
        @include media ('<=770px'){
            border-bottom:none;
        }
        strong{
            color: #4A4A4A;
            font-family: $f-stack-sans;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            text-align: center;
        }
    }

    .block-account {
        li {
            strong {
                color: #4A4A4A;
                text-decoration: underline;
                text-transform: none;
                font-weight: 500;
            }
        }
    }

    /*rwd theme base styles reinit*/
    ul.form-list li div.input-box {
        width: auto!important;
    }

    .scaffold-form {
        max-width: 340px;
        .form-list {

        }
    }

    .tickets-form {
        label {
            display: none;
        }

        .jcf-select {
            border: 1px solid #EBE7E4;
            border-radius: 4px;
            background-color: #FBFAF9;
            padding: 7px 10px;
            width: 100%;
            display: block;
        }
    }

    .my-account {

       .create_new_ticket {
                color: #4A4A4A;
                font-family: $f-stack-sans;
                font-size: 16px;
                font-weight: bold;
                line-height: 20px;
        }

        .cart-cell {
            position: relative;
        }

        .minus-btn,
        .plus-btn{
            border: 2px solid #6BB7A6;	
            border-radius: 4px;	
            background-color: #FFFFFF;
            outline: none;
            width:27px;
            height:27px;
            color:#6BB7A6;
        }

        .add-to-cart-alt {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            .qty {
                border: none;
                background: transparent;
            }
        }

        .page-title {
            h1 {
                margin-bottom: 5px;
            }
        }
        .fieldset {
            margin-top:0!important;
            margin-bottom: 10px!important;

            h2.legend {
                    color: #4A4A4A;
                    font-family: $f-stack-sans;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                    border-bottom: 0;
                    margin-bottom: 0;
                }
        }

        .customer-dob {
            .jcf-select {
                border: 1px solid #E4E2E2;
                border-radius: 4px;
                background-color: #FCFBFB;
                color: #4A4A4A;
                font-family: $f-stack-special;
                font-size: 16px;
                padding: 10px 15px !important;
                margin: 10px 0;
            }
        }

        .addresses-list {
            h3 {
                    color: #4A4A4A;
                    font-family: $f-stack-sans;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                    &.addition-title {
                            color: #4A4A4A;
                            font-family: $f-stack-sans;
                            font-size: 22px;
                            font-weight: bold;
                            line-height: 28px;
                    }
            }

            .item {
                .item-wrap{
                    border: 3px solid #808080;
                    border-radius: 6px;
                    background-color: #FBFAF9;
                    padding: 30px;

                    &.no-border {
                        border: none;
                    }
                    p {
                        text-align: right;
                        a{
                            color: #529888;
                            font-family: $f-stack-special;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            text-align: right;
                            text-decoration: underline;
                        }
                    }
                }
                    address {
                            color: #4A4A4A;
                            font-family: $f-stack-special;
                            font-size: 16px;
                            line-height: 23px;
                    }
            }
        }

        .new-address {
            max-width: 410px;

            .region-fields {
                display: none;
            }

            .control {
                label {
                    background-color: transparent!important;
                        color: #4A4A4A;
                        font-family: $f-stack-special;
                        font-size: 16px;
                        line-height: 23px;
                        font-weight: 300;
                        cursor: pointer;
                        padding: 0;
                }
            }
        }

        .new-address-title {
                color: #4A4A4A;
                font-family: $f-stack-sans;
                font-size: 16px;
                font-weight: bold;
                line-height: 20px;
                text-transform: uppercase;
        }

        .jcf-radio {
           position: relative;
           display: block;

            span {
                position: absolute;
                left:-4px;
                top:4px;
                width:12px;
                height: 12px;
                border-radius: 50%;
                border: 1px solid #ccc;
            }

            &.jcf-unchecked {
                span {
                }
            }

            &.jcf-checked {
                span {
                    background-color:black;
                }
            }
        }

        .buttons-set {
            button {
                    border-radius: 4px;
                    background-color: #5CB8A3;
                    box-shadow: 0 2px 0 0 #529888;
                    float: right;
                    color:$white;
                    width: auto;
                    padding: 7px 20px;
                    text-transform: none;
                    font-size: 18px;
            }
        }

        .order-list {
            border-radius: 4px;
            background-color: #FBFAF9;
            padding: 15px;
            border-radius: 2px;
        }
        .order-items {
            tr.border {
                display: flex;
                border: 1px solid #E4E2E2;
                background-color: #FFFFFF;
                padding: 10px;
                margin-bottom: 20px;
                justify-content: space-between;
                width: 100%;
                border-radius: 4px;
                td {
                    color: #4A4A4A;
                    font-family: $f-stack-special;
                    font-size: 13px;
                    line-height: 19px;
                    border: none;
                    .product-name {
                            color: #4A4A4A;
                            font-family: $f-stack-special;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 23px;
                    }
                }
            }
        }
        .subtotal,
        .tax,
        .grand_total {

            display: flex;
            flex-flow: wrap;
            justify-content: flex-end;

            td {
                border: none!important;
                    color: #4A4A4A;
                    font-family: $f-stack-special;
                    font-size: 16px;
                    letter-spacing: -0.13px;
                    line-height: 23px;
                    padding: 5px;
                &.last {
                    width:120px;
                }
            }
        }

        .order-buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            border-bottom: 1px dotted #D3D3D3;
            align-items: end;

            h2 {
                    color: #4A4A4A;
                    font-family: $f-stack-sans;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 20px;
                }
            a {
                margin-left: 15px;
                font-family: $f-stack-special;
                font-size: 16px;
                font-weight: bold;
                line-height: 23px;
                text-align: justify;
                text-decoration: underline;

                &.link-print {
                    color: #808080;
                }

                &.link-reorder {
                    color: #5CB8A3;
                }
            }
        }

        .box {
            display: flex;
            flex-flow: column;
            border-radius: 4px;	
            background-color: #FBFAF9;
            padding: 20px;
            margin-bottom: 20px; 
        }
        .box-title {
            width: 100%;
            h2 {
                color: #4A4A4A;
                font-family: $f-stack-sans;
                font-size: 16px;
                font-weight: bold;
                line-height: 20px;
                border-bottom: 1px dotted #ccc;    
                padding-bottom: 10px;    
            }
        }

        .data-table{
            display: block;
            tbody {
                width: 100%;
                display: block;
            }
        }

        .order-info-box {
            margin-bottom: 0;

            .box-content {
                    color: #4A4A4A;
                    font-family: $f-stack-special;
                    font-size: 16px;
                    line-height: 23px;
            }
        }

        .orders {
            thead{
                width: 100%;
                display: block;            
                tr {
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    th {
                        min-width: 130px;
                        background: transparent;
                            color: #333333;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 19px;
                            text-transform: none;
                            border:none;
                        &.view {

                        }
                    }
                }
            }

            tbody {
                tr {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-evenly;
                    &.odd {
                            border: 1px solid #EBE7E4;
                            background-color: #FBFAF9;
                        }
                }
                td {
                    min-width: 130px;
                    border: none;
                    font-family: $f-stack-special;

                    .icon {
                        &:before{
                            color: #5CB8A3;
                        }
                    }

                    &.number {
                            color: #4A4A4A;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 24px;
                        }

                        &.status {
                            color: #4A4A4A;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            em {
                                font-style: normal;
                            }
                        }

                    .link-reorder {
                            color: #5CB8A3;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 23px;
                            text-align: justify;
                            text-transform: none;
                    }
                    .nobr {
                        a {
                                color: #4A4A4A;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 24px;
                                text-transform: none;
                                text-decoration: underline;
                        }
                    }
                }
            }
        } 
    }

    h1.review-title {
        margin-bottom: 25px!important;
    }

    .review-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        align-items: center;
        @include media ("<=770px"){
            position: relative;
        }
            .product-image {
                @include media ("<=770px"){
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top:0;
                left:20px;
                img {
                    max-width: 75px;
                    }
                }
            }

            .mobile-date-name {
                @include media ("<=770px"){
                    padding-left: 100px;
                    min-height: 90px;
                }
            }
            .review-content {
                width: 100%;
                margin-left: 20px;
                .date {
                        color: #9B9B9B;
                        font-family: $f-stack-special;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px;
                        text-transform: uppercase;
                }

                .product-name {
                        color: #4A4A4A;
                        font-family: $f-stack-special;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 23px;
                    }
            }

            .content-wrap {
                border: 1px solid #EBE7E4;
                border-radius: 8px;
                background-color: #FBFAF9;
                padding: 15px;
                p {
                    margin-bottom: 10px;
                }
            }
    }

    .my-wishlist {
        .brand-name{
            a{
                    color: #9B9B9B;
                    font-family: $f-stack-special;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    text-transform: none;
            }
        }

        .product-name {
            a {
                    color: #4A4A4A!important;
                    font-family: $f-stack-special;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 26px;
                    text-transform: none;
                }
        }

        .price-box {
            justify-content: center;

            .price {
                    color: #4A4A4A;
                    font-family: $f-stack-special;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: -0.2px;
                    line-height: 34px;
            }
            .old-price {
                margin-bottom: 0;
                text-align: left;
                .price {
                        color: #C0C0C0!important;
                        font-family: $f-stack-special;
                        font-size: 11px!important;
                        font-weight: 500;
                        line-height: 16px;
                }
            }
            .special-price,
            .regular-price {
                text-align: left;
            }
        }

        .amount {
            color: #C0C0C0;
            font-family: $f-stack-special;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }
    }

    .customer-dob {
        display: flex;
        .jcf-select {
            margin-right: 10px!important;
        } 
    }

    .check-block {
        border-bottom: 1px doted #D3D3D3;
        label {
            background-color: transparent!important;
            color: #4A4A4A;
            font-family: $f-stack-sans;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            padding: 0 0 10px!important;
            cursor: pointer;
        }
    }

    .legend{
        &.hide {
            display: none!important;
        }
    }

    .gender-wrap {
        margin: 10px 0;

        label {
            display: none;
        }
        .input-box {
            padding-left: 25px;
            display: flex;
            cursor: pointer;
            .gender-block {
                margin-right: 40px;
            }
            span {
                margin-left: -10px;
            }
        }
    }


    .block-content {
        li{
            padding: 5px 18px 5px 25px;
            position: relative;
            a {
                text-transform: none;
                font-size: 16px;
            }
            &:before {
                position: absolute;
                top:50%;
                left:10px;
                content: "\e90f";
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                display: block;
                transform: translateY(-50%) rotate(-90deg);
                color:#ccc;
            }

            &.current {
                background-color: #F6F4F2;
                a {
                    color: #4A4A4A;
                    font-family: $f-stack-special;
                }
            }
        }
    }

}

.breadcrumbs {
    display: block!important;
    @include media ('<widescreen'){
        padding: 20px 20px;
        margin-bottom: 0;
    }

    span {
        padding: 0 15px;
    }
}

.toolbar-filters-item {
    .icon-ventaja03,
    .icon-ventaja04 {
        font-size: 18px;
    }
}

.products-grid {
    .product-name {
        a{
            text-transform: none;
            font-size: 16px;
        }
    }
    .product-grid-item{
        .btn{
            padding: 2px 5px;
            margin-top: 3px;
        }
    }
    .price {
        line-height: 1;
    }

    .express-delivery {
        position: absolute;
        bottom: 40px;
        right: 10px;
    }
}

.mob-back-link {
    a {
        font-size: 16px;
    }
}

.text-left {
    text-align: left;
    h1 {
        text-align: left;
    }
}

.newsletter-manage-index{
    label {
            color: #4A4A4A;
            font-family: $f-stack-sans;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            display: block;
            margin-top: 40px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            width: 100%;
            text-transform: uppercase;
            border-bottom: 1px solid #D3D3D3;
    }

    .jcf-checkbox {
        border-radius: 14.72px;
        background-color: #CCDC45;
        width: 100px;
        height: 25px;
        border-color: transparent;
        span {
            right: 10px;
            left: inherit;
            z-index: 10;
            &:before {
                position: absolute;
                top:-50%;
                left: -50%;
                transform: translate(-50%, -50%);
                content:"";
                display: block;
                z-index: -1;
                width:20px;
                height: 20px;
                border-radius: 50%;
                background: white;
            }
        }
    }
}