.about-container {
  position: relative;
  z-index: 1;
  padding: 36px 0 39px;
  //margin: 0 0 96px;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  line-height: 1.425;
  background-color: #193542;
  background-size: cover;
  background-position: 50% 50%;

  @include media('>=tablet') {
    padding: 36px 67px 39px;
  }

  @include media('>=desktop') {
    padding: 57px 10px 24px;
    font-size: 16px;
    line-height: 1.625;
  }

  .page-title {
    max-width: 550px;
    letter-spacing: 1px;

    @include media('>=desktop') {
      max-width: 790px;
      padding-left: 60px;
    }
  }

  h1 {
    color: #fff;
    text-align: left;
    line-height: 1.03;


    @include media('>=tablet') {
      font-size: 37px;
      line-height: 1.216;
      margin: 0 0 20px;
    }

    @include media('>=desktop') {
      font-size: 48px;
      line-height: 1.03;
    }
  }

  .slide-text {
    max-width: 570px;
  }

  .signature {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/signature.png) no-repeat;
    background-size: 100% auto;
    width: 280px;
    height: 54px;
    margin: 3px 0 20px;

    @include media('>=tablet') {
      width: 339px;
      margin: 3px 0 0;
    }

    @include media('>=desktop') {
      margin: 0;
    }
  }

  .button {
    font-size: 20px;

    @include media('>=desktop') {
      font-size: 24px;
      padding: 16px 67px;
    }
  }

  .open-close {
    &.active {
      .opener {
        display: none;
      }
    }
  }

  .about-box {
    max-width: 477px;
    overflow: hidden;

    @include media('>=tablet'){
      max-width: 650px;
    }

    @include media('>=desktop') {
      max-width: 750px;
      padding-top: 0;
    }

    .button {
      float: right;
      min-width: 226px;
      padding: 12px 15px;

      @include media('>=tablet'){
        min-width: 0;
      }

      @include media('>=desktop') {
        min-width: 202px;
        margin-top: 19px;
        padding: 16px 15px;
      }
    }
  }

  .slide {
    .about-box {
      max-width: 340px;
      padding: 0 0 34px;

      @include media('>=desktop') {
        max-width: 610px;
        padding: 20px 0 28px 60px;
      }
    }
  }

  p {
    margin: 0 0 20px;

    @include media('>=desktop') {
      margin: 0 0 26px;
    }
  }

  .sub-box {
    max-width: 1189px;

    @include media('>=tablet') {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: stretch;
      padding: 0 0 30px 16px;
    }

    @include media('>=desktop') {
      padding: 0 0 30px 60px;
    }

    .button {
      max-width: 226px;
      display: block;
      width: 100%;
      margin: 3px 0 0;
      padding: 12px 15px;

      @include media('>=desktop') {
        max-width: 420px;
        margin: 2px 0 0;
        padding: 16px 15px;
      }
    }
  }
}

.services-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
  font-size: 16px;
  line-height: 1.375;
  margin: 0 auto;
  padding: 96px 10px 0;
  text-align: center;
  max-width: 768px;

  @include media('>=desktop') {
    max-width: 1102px;
    padding: 96px 10px 83px;
  }

  .box {
    width: 100%;
    padding: 0 30px 50px;
    max-width: 400px;
    margin: 0 auto;

    @include media('>=tablet') {
      width: 50%;
      max-width: none;
      padding: 0 30px 68px;
    }

    @include media('>=desktop') {
      width: 25%;
      padding: 0 10px;
      max-width: 240px;
    }
  }

  .circle {
    display: block;
    width: 84px;
    height: 84px;
    margin: 0 auto 24px;
    border-radius: 100%;
    background: $c-blue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;

    img {
      max-width: 43px;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 2px;
  }

  a {
    color: $c-blue;
    font-weight: bold;
    border-bottom: 3px solid;
    padding: 0 0.1em;

    &:hover {
      text-decoration: none;
      color: $c-green;
    }
  }

  p {
    margin: 0 0 22px;

    i {
      font-size: 14px;
      margin-left: 9px;
    }
  }
}

.contact-form {

  @include media('>=tablet') {
    margin: 0 -18px;
    padding: 28px 0 0;
  }

  @include media('>=desktop') {
    padding: 0;
    margin: 0;
  }

  input:not([type="submit"]),
  textarea {
    margin: 0 0 9px;
    text-align: center;
    font: 16px/19px $f-stack-sans;
  }

  input[type="submit"] {
    border: none;
    background: none;
    color: $c-blue;
    font-weight: bold;
    border-bottom: 3px solid;
    padding: 0 0.1em;
    font-size: 16px;
    border-radius: 0;

    &:hover {
      text-decoration: none;
      color: $c-green;
    }
  }

  ::-webkit-input-placeholder {
    color: $c-blue-dark;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: $c-blue-dark;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $c-blue-dark;
    opacity: 1;
  }
  :-moz-placeholder {
    color: $c-blue-dark;
    opacity: 1;
  }

  textarea {
    resize: vertical;
    max-width: none;
    padding: 38px 5px 5px;
    margin: 0 0 13px;
    height: 83px;

    @include media('>=desktop') {
      height: 101px;
      margin: 0 0 21px;
    }
  }
}