.accessories {
  padding-bottom: 2em;

  h2 {
    text-align: center;
    font-weight: 600;
  }

  .separator {
    margin: 4em 0;
    display: block;

    @include media('<tablet') {
      margin: 2em 0;
    }
  }
}

.accessory {

  .quote {
    color: $c1;
    font-style: italic;
    line-height: 1.25;

    .icon {
      color: #fff;
      background: $c1;
      border-radius: 50%;
      display: inline-block;
      width: 11px;
      height: 11px;
      font-size: 23px;
      line-height: 11px;
      text-align: center;
      position: relative;
      font-style: normal;

      span {
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        text-align: center;
        line-height: 1;
      }
    }
  }

  @include media('<phone') {
    margin: 2em 0;
  }

  @include media('>=phone') {
    .quote {
      font-size: 15px;

      .icon {
        width: 16px;
        height: 16px;
        font-size: 30px;
        line-height: 16px;
      }
    }
  }

  @include media('>=tablet') {
    .quote {
      font-size: 18px;

      .icon {
        width: 25px;
        height: 25px;
        font-size: 59px;
        line-height: 25px;
        margin: -0.5em 0 0 -10px;
      }
    }
  }

  @include media('>=desktop') {
    .quote {
      font-size: 20px;

      .icon {
        width: 28px;
        height: 28px;
        font-size: 64px;
        //line-height: 22px;
        margin: -0.5em 0 0 -10px;
      }
    }
  }

  @include media('>=xwidescreen') {
    .quote {
      font-size: 24px;

      .icon {
        width: 33px;
        height: 33px;
        font-size: 82px;
        line-height: 33px;

        span {
          bottom: 15%;
        }
      }
    }
  }
}



//
// dimensions
//
.dimensions {
  max-width: 1080px;
  width: 100%;
  margin: 3em auto 0;
  @extend %clearfix;

  img {
    width: 100%;
    height: auto;
  }

  .dimensions-text {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;

    p {
      margin: 0 0 1em;
    }
  }

  @include media('<phone') {
    font-size: 12px;

    img {
      margin-top: 20px;
    }

  }

  @include media('>=phone') {
    font-size: 13px;

    .dimensions-images-bottom {
      display: flex;
      justify-content: space-between;
      //margin-left: -(100% / 640 * 112);

      div {
        &:first-child {
          width: (100% / 751 * 420);
        }

        &:last-child {
          width: (100% / 751 * 332);
        }
      }
    }
  }

  @include media('>=tablet') {
    font-size: 14px;

    &-text {
      float: left;
      width: (100% / 1080 * 440);
      padding-right: 5%;
    }

    &-images {
      float: left;
      width: (100% / 1080 * 640);
    }

    .dimensions-images-bottom {
      margin-left: -(100% / 640 * 112);
    }
  }

  @include media('>=widescreen') {
    font-size: 16px;
  }
}


//
// dimensions
//
.material {
  max-width: 1080px;
  width: 100%;
  margin: 3em auto 0;
  @extend %clearfix;

  img {
    width: 100%;
    height: auto;
  }

  .material-text {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;

    p {
      margin: 0 0 1em;
    }

    .button {
      width: 100%;
    }
  }

  @include media('<phone') {
    font-size: 12px;

    img {
      margin-top: 20px;
    }
  }

  @include media('>=phone') {
    font-size: 13px;

    .material-image-top {
      padding-left: (100% / 640 * 89);
      padding-right: (100% / 640 * 111)
    }

    .material-images-bottom {
      display: flex;
      justify-content: space-between;
      //margin-left: -(100% / 640 * 132);

      div {
        width: 50%;
      }
    }
  }

  @include media('>=tablet') {
    font-size: 14px;

    &-text {
      float: left;
      width: (100% / 1080 * 440);
      padding-right: 2%;
    }

    &-images {
      float: left;
      width: (100% / 1080 * 640);
    }

    .material-images-bottom {
      margin-left: -(100% / 640 * 132);
    }
  }

  @include media('>=widescreen') {
    font-size: 16px;
  }
}

//
// construction
//
.construction {
  margin-top: 4em;
  font-size: 12px;

  img {
    width: 100%;
    height: auto;
  }

  .construction-video {

    a {
      display: block;

      &:before {
        z-index: 1;
      }

      img {
        position: static;
      }
    }
  }

  @include media('<tablet') {
    display: flex;
    flex-wrap: wrap;
    //flex-direction: column;
    .construction-text1 {
      order: -3;
      width: 100%;
      
      p {
        margin-bottom: 1em;
      }
    }

    .construction-text2 {
      order: -2;

      p {
        margin-bottom: 1em;
      }
    }

    .construction-text3 {
      width: 100%;
      order: -1;
      margin-bottom: 1em;
    }

    .construction-video {
      width: 100%;
      order: 1;
      max-width: 360px;
    }

    .construction-image {
      order: 3;
      flex-basis: 50%;
    }
  }

  @include media('<lg-phone') {
    .construction-image {
      order: 3;
      flex-basis: 33.3333%;
    }
  }

  @include media('<phone') {
    .construction-image {
      flex-basis: 50%;
    }
  }

  @include media('>=tablet') {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
  }

  @include media('>=tablet', '<desktop') {
    .construction-video {
      order: -3;
      width: (100% / 726 * 352);
    }

    .construction-text1 {
      order: -2;
      width: (100% / 726 * 374);
      padding: 0 0 0 20px;

      .construction-text2 {
        width: 100%;
        margin: 1em 0;
      }
    }

    .construction-image {
      width: (100% / 726 * 124);

      &:nth-child(2) {
        margin-left: (100% / 726 * 227);
      }
    }

    .construction-text3 {
      //width: (100% / 726 * 400);
      width: 100%;
      //margin: 2.5em 0 1em (100% / 1300 * 127);
      margin: 2.5em 0 1em;

      .quote {
        width: (100% / 726 * 400);
        margin: 0 auto;
      }
    }
  }

  @include media('>=desktop') {
    font-size: 15px;

    .construction-text1 {
      width: (100% / 1300 * 420);
      margin: 0 (100% / 1300 * 110) 1em (100% / 1300 * 770);
    }

    .construction-image {
      width: (100% / 1300 * 220);
    }

    .construction-text2 {
      width: (100% / 1300 * 420);
      margin: 0 (100% / 1300 * 110) 1em 0;
      order: 8;
      margin-top: 1.5em;
    }

    .construction-text3 {
      width: (100% / 1300 * 530);
      margin: 0 (100% / 1300 * 130) 1em (100% / 1300 * 110);
      order: 7;
      margin-top: 2.5em;
    }

    .construction-video {
      width: (100% / 1300 * 420);
      position: relative;

      .play-box {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  @include media('>=widescreen') {
    font-size: 16px;
  }
}


//
// print-image
//
.print-image {
  width: 100%;
  max-width: 1080px;
  margin: 3em auto 3em;
  @extend %clearfix;

  p {
    margin-bottom: 1em;

    a {
      color: inherit;

      &:hover {
        color: $c1;
      }
    }
  }

  &-text {
    margin: 0 -10px 40px;

    .col {
      padding: 0 10px;
      
      @include media('<tablet') {
        margin-bottom: 20px;
      }
    }


    @include media('>=tablet') {
      display: flex;

      .col {
        flex: 1;
      }
    }
  }

  &-images {
    display: flex;

    > div {
      width: 33.3333%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}


//
// individual-inquiry
// 
#individual-inquiry {
  background: $c3;
  color: #fff;
  padding: 3em 2000px 1.5em;
  margin: 3em -2000px;
  overflow: hidden;


  // @include media('<tablet') {
  //   padding-bottom: 1em;
  // }


  h2 {
    color: inherit;
  }

  .button {
    width: 100%;
    margin: 1em 0;
  }

  .individual-inquiry {
    max-width: 1080px;
    margin: 3em auto 1em;

    // @include media('<tablet') {
    //   margin-bottom: 1em;
    // }
  }

  .individual-inquiry-text {
    margin: 0 -10px 20px;

    .col {
      padding: 0 10px;
    }

    @include media('>=tablet') {
      display: flex;
      justify-content: space-between;

      .col {
        //flex: 1;
        flex-basis: 40%;
      }
    }
  }
}


.hightlight {
  position: relative;
  z-index: 1;

  .accessory {
    position: relative;
    background: #fff;
    border: 2px solid transparent;
    margin: -2em;
    padding: 2em;
    transition: all 0.3s ease;

    @include media('<widescreen') {
      margin: -1.3em;
      padding: 1.3em;
    }
  }

  &-close {
    position: absolute;
    top: 0.7em;
    right: 0;
    
    font-size: 34px;
    color: $c3;
    opacity: 0;

    @include media('<tablet') {
      font-size: 28px;
      top: 0.5em;
    }

    @include media('>=widescreen') {
      top: 1.2em
    }

    a {
      color: inherit;
    }
  }

  .hightlight-overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($c3, 0.7);
    
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 0;
    z-index: -1;
    visibility: hidden;
  }


  &.hightlight-active {
    z-index: 20;
    position: relative;

    .hightlight-close {
      opacity: 1;
      z-index: 11;
    }

    .accessory {
      border-color: $c2;
      z-index: 10;
    }

    .hightlight-overlay {
      opacity: 1;
      z-index: 10;
      visibility: visible;
    }    
  }
}