.benefits:not(ul) {
  background: $c-blue-dark;
  color: #fff;
  padding: 25px 0;

  .page-title {
    color: inherit;
    margin-bottom: 35px;

    h1 {
      color: inherit;
    }
  }

  @include media('>=tablet') {
    padding: 75px 0 0;

    .page-title {
      margin-bottom: 45px;
    }
  }

  @include media('>=desktop') {
    padding: 88px 0 0;

    .page-title {
      margin-bottom: 60px;
    }
  }

  @include media('>=widescreen') {
    padding: 100px 0 0;
    background: 
      url(../images/bg-benefits-left.png) no-repeat 0 70px,
      url(../images/bg-benefits-right.png) no-repeat 100% 25px,
      $c3;
  }
}

.benefits-list,
.benefits-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 880px;
  margin: 0 auto;

}
.benefit {
  margin: 0 auto 35px;
  padding: 0 $gap;
  text-align: center;
  width: 100%;

  @include media('>=phone') {
    width: 50%;
    margin: 0 0 35px;
  }
  /* align-items: center;
  flex-direction: column;
  justify-content: center; */

  @include media('>=tablet') {
    width: 33.3333%;
    max-width: 33.3333%;
    margin-bottom: 50px;
  }

  @include media('>=desktop') {
    width: 25%;
    max-width: 25%;
    margin-bottom: 70px;
    font-size: 14px;
  }
}

.benefit-icon {
  background: $c1;
  text-align: center;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;

  @include media('>=tablet') {
    margin-bottom: 20px;
  }

  @include media('>=desktop') {
    margin-bottom: 25px;
  }
}

.benefit-text {
  line-height: 1.5714;

  @include media('<tablet') {
    display: none;
  }
}

.benefit-title {
  font-weight: bold;

  @include media('>=tablet') {
    display: none;
  }
}



.navi {
  @extend %listreset;
  font-family: $f-stack-special;
  text-align: center;
  font-size: 18px;
  padding: 17px 0 10px;
  border-top: 1px solid $c1;
  font-weight: 400;

  @include media('<tablet') {
    display: none;
  }

  @include media('>=tablet') {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 3000px;
      margin: 0  0 0 -1500px;
      background: $c3;
      height: 100%;
      z-index: -1;
    }
  }

  @include media('>=desktop') {
    padding: 30px 0 14px;
  }
  
  li {
    display: inline-block;
    margin: 0 17px;

    @include media('>=tablet', '<desktop') {
      margin: 0 10px;
    }
  }

  .anchor-active {
    font-weight: bold;
  }
}

.sticky-wrap-navi {
  &.fixed-position {
    position: relative;
    z-index: 10;

    .navi {
      border-top: 0;


    }
  }
}


.benefit-opener {
  position: relative;
  text-align: right;
  height: 1px;
  margin-bottom: -23px;
  z-index: 2;
  padding-right: 10px;

  @include media('>=tablet') {
    display: none;
  }
  // height: 1px;
  // background: $c1;
  // padding: 0 31px;
  // margin-top: -1px;

  .opener {
    width: 37px;
    height: 37px;
    font-size: 10px;
    line-height: 37px;
    background: $c1;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    top: (-37px / 2);
    transform: rotate(180deg);
    text-decoration: none !important;
    outline: none;
  }

  .active & {
    display: none;

    .opener {
      transform: rotate(0);
    }
  }
}