.category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.badge-sale {
  position: absolute;
  top: -31px;
  right: -10px;
  z-index: 2;
}

.category-item {
  position: relative;
  text-align: center;
  margin: 0 auto 30px;
  font-size: 12px;

  &:hover {
    z-index: 2;
  }

  img {
    vertical-align: top;
    width: 100%;
    height: auto;
  }

  @include media('>=phone') {
    margin: 0 10px 40px;
    width: calc(100% / 2 - 20px);
  }

  @include media('>=tablet') {
    width: calc(100% / 3 - 20px);
    font-size: 14px;
  }

  @include media('>=desktop') {
    font-size: 15px;
  }

  @include media('>=xwidescreen') {
    width: calc(100% / 4 - 20px);
    font-size: 16px;
  }

  .product-name {
    font-size: 18px;
    line-height: 1.1538;
    font-weight: 300;
    text-transform: none;
    font-family: $f-stack-special;

    span {
      display: block;
      font-weight: 600;
    }

    @include media('>=tablet') {
      font-size: 20px;
    }

    @include media('>=desktop') {
      font-size: 23px;
    }

    @include media('>=widescreen') {
      font-size: 26px;
    }
  }  
}

.category-item-image {
  position: relative;

  .product-image {
    border: 0;
    border-bottom: 4px solid $c1;
    display: block;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      background-image: linear-gradient(90deg, #000000, $c1);
      // background-blend-mode: hard-light;
    }
  }

  .product-name {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    padding: 0 10px;
    color: $c2;
    z-index: 1;

    @include media('>=widescreen') {
      font-size: 30px;
    }
  }

  .product-text {
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    padding: 0 10px;
    z-index: 1;
  }

  .product-image:after,
  .product-name,
  .product-text {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease,
                opacity 0.3s ease;

    .category-item:hover & {
      opacity: 1;
      visibility: visible;
    }
  }

  .product-image:after {
    .category-item:hover & {
      opacity: 0.5;
      visibility: visible;
    }
  }
}

.category-item-info {
  padding: 15px 10px;
  position: relative;
}


.category-item-overlay {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: $c1;
  padding: 12px 10px 15px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease,
              opacity 0.3s ease;

  .category-item:hover & {
    opacity: 1;
    visibility: visible;
  }

  .actions {
    margin-top: 10px;

    a {
      font-weight: normal;
      padding: 0 7px;
      border-bottom: 1px solid;
      color: inherit;

      &:hover {
        text-decoration: none;
        color: $c2;
      }
    }
  }
}
