h1.onestepcheckout-title {
  @extend .page-title;
  @include pageTitle();
  color: $c1;
  text-transform: none;
}

p.onestepcheckout-description {
  @extend .sh;
  font-weight: 500 !important;
}

p.onestepcheckout-login-link {
  text-align: center;
  margin: 0 0 2em;
}

a#onestepcheckout-login-link,
a#onestepcheckout-forgot-password-link,
a#onestepcheckout-return-login-link {
  @extend .bordered-link;
  color: $c1;

  &:hover {
    color: $c2;
  }
}

.checkoutcontainer  {
  select,
  .jcf-select {
    width: 98%;
    min-width: 100px;
    // border-width: 0 1px 1px 0;
    height: 44px;

    .jcf-select-text {
      line-height: 43px;
      font-size: inherit;
    }
  }

  .osc-short {
    select,
    .jcf-select {
      width: 96%;
    }
  }

  label {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  .input-box {
    @extend %clearfix;

    .jcf-checkbox {
      float: left;
      margin-right: 8px;
      margin-top: 3px;
      border: 1px solid #f0f0f0;
      border-radius: 0;

      span {
        width: 10px;
        height: 6px;
        border-color: $c2;
        margin-top: -5px;
      }
    }

    .jcf-checkbox + label {
      display: table;
    }
  }

  .validation-advice {
    margin-top: 5px;
    display: none;
  }

  .input-text {
    &.validation-failed {
      border-color: $c-danger !important;
    }
  }

  select.validation-failed + .validation-advice + .jcf-select {
    border-color: $c-danger !important;
  }
}

div.onestepcheckout-place-order-wrapper {
  text-align: center;
}

.payment-methods {
  .jcf-radio {
    margin-top: -3px;
  }
}

#billing_address_list {

}

.onestepcheckout-threecolumns {
  p.onestepcheckout-numbers {
    font-weight: bold;
    color: $c3;
    text-transform: none;
    padding: 0;

    @include media('>=desktop') {
      font-size: 16px;
    }

    span {
      background: none;
      position: static;
      margin: 0 4px 0 0;
      display: inline-block;
      width: auto;
      height: auto;
    }

    .numbers-1:before {
      content: '1.';
    }

    .numbers-2:before {
      content: '2.';
    }

    .numbers-3:before {
      content: '3.';
    }

    .numbers-4:before {
      content: '4.';
    }

    .numbers-5:before {
      content: '5.';
    }
  }
}

.cart-empty {
  text-align: center;

  a {
    @extend .bordered-link;
    color: $c1;

    &:hover {
      color: $c2;
    }
  }
}

.checkout-cart-index,
.checkout-onepage-success {
  background: $c3;

  .wrapper {
    background: transparent;
    // min-height: 0;
  }

  main.main {
    background: #fff;
  }

  .col-main {
    padding-bottom: 60px;
  }

  // .col-main {
  //   min-height: 400px;
  // }
}

.onestepcheckout-popup-contents {
  p {
    margin-bottom: 1em;
  }
}