.cookie {
  border-bottom: 1px solid #fff;
  background: #2e4753;
  padding: 17px 0;
  text-align: center;
  line-height: 12px;
  color: rgba(white, 0.53);
  font-weight: 200;
  font-size: 10px;

  &-text {
    display: inline-block;
    vertical-align: middle;
  }

  a.close {
    text-decoration: none !important;
    color: $c2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 17px;

    &:hover {
      color: #fff;
    }
  }

  @include media('<tablet') {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        content: none;
      }
    }
  }

  @include media('<tablet') {
    border-bottom: 1px solid #5e717a;
  }

  @include media('>=tablet') {
    font-size: 11px;
  }
}