.customer-section {
  padding: 26px 0;

  @include media('>=tablet') {
    padding: 26px 0 162px;

    &.product-customer-section {
      padding-bottom: 40px;
    }
  }

  @include media('>=desktop') {
    padding: 26px 0 113px;

    &.product-customer-section {
      padding-bottom: 40px;
    }
  }

  &.product-customer-section {
    .page-title {
      color: $c3;

      h1 {
        color: inherit;
      }
    }
  }

  .container {
    max-width: 1322px;
    padding: 0;

    @include media('>=tablet') {
      padding: 0 10px;
    }
  }

  .button {
    font-size: 20px;
    min-width: 282px;
    margin: 0 auto;
    display: table;

    @include media('>=desktop') {
      font-size: 20px;
      min-width: 475px;
    }

    @include media('>=xwidescreen') {
      font-size: 24px;
      min-width: 420px;

      // &.product-customer-section & {
      //   m
      // }
    }
  }
}

.product-gallery-customer {
  overflow: hidden;
  margin: 27px 0 29px;

  @include media('>=tablet') {
    padding: 24px 0 52px;
    margin: 0;
  }

  @include media('>=desktop') {
    padding: 24px 0 51px;
  }

  .slide {
    height: 308px;

    @include media('>=tablet') {
      float: left;
      overflow: hidden;

      &.right-box {
        float: right;
      }
    }

    &.img-box-01 {
      @include media('>=tablet') {
        width: 66.052%;
        height: 300px;
      }

      @include media('>=desktop') {
        height: auto;
        height: 389px;
      }
    }

    &.img-box-02 {
      @include media('>=tablet') {
        width: 18.586%;
        height: 91px;
      }

      @include media('>=desktop') {
        height: auto;
        height: 180px;
      }
    }

    &.img-box-03 {
      @include media('>=tablet') {
        width: 15.36%;
        height: 91px;
      }

      @include media('>=desktop') {
        height: auto;
        height: 180px;
      }
    }

    &.img-box-04 {
      @include media('>=tablet') {
        width: 33.947%;
        height: 337px;
      }

      @include media('>=desktop') {
        height: auto;
        height: 426px;
      }

      @include media('>=xwidescreen') {
        width: 33.95%;
      }
    }

    &.img-box-05 {
      @include media('>=tablet') {
        width: 17.127%;
        height: 128px;
      }

      @include media('>=desktop') {
        height: auto;
        height: 217px;
      }
    }

    &.img-box-06 {
      @include media('>=tablet') {
        width: 32.104%;
        height: 128px;
      }

      @include media('>=desktop') {
        height: auto;
        height: 217px;
      }
    }

    &.img-box-07 {
      @include media('>=tablet') {
        width: 16.82%;
        height: 128px;
      }

      @include media('>=desktop') {
        height: auto;
        height: 217px;
      }
    }

    a {
      display: block;
      position: relative;
      transition: all 0.5s ease-in-out 0s;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;

      &:hover {
        &:before,
        &:after,
        .ex-logo {
          visibility: visible !important;
          opacity: 1 !important;
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba($c-blue, 0.65);
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out 0s;
      }

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: $c-green;
        border-radius: 100%;
        background-image: url(../images/plus.svg);
        background-size: 10px 10px;
        width: 25px;
        height: 25px;
        bottom: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out 0s;

        @include media('>=desktop') {
          background-size: 19px 19px;
          width: 40px;
          height: 40px;
          bottom: 22px;
        }
      }

      .ex-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out 0s;
        z-index: 1;

        @include media('>=tablet') {
          margin-top: -10px;
          width: auto;
          padding: 0;
        }

        @include media('>=desktop') {
          margin-top: -23px;
          width: 100%;
          padding: 0 33px;
        }

        img {
          width: auto;
          margin: 0 auto;
          max-width: 100%;

          @include media('>=tablet') {
            width: 60%;
          }

          @include media('>=desktop') {
            width: auto;
          }
        }
      }
    }

    img {
      vertical-align: top;
      width: 100%;
    }
  }

  .slick-arrow {
    background: none;
    border: none;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 33px;
    z-index: 1;

    &.slick-prev {
      left: 12px;
    }

    &.slick-next {
      right: 12px;
    }
  }
}