.block-account,
.block-cms-menu {
  li {
    font: 16px/19px $f-stack-sans;
    text-transform: none;

    strong {
      color: $c-blue-dark;
      font-weight: bold;
    }
  }
}

.accordion-holder {
  padding: 0 23px 38px  21px;
  border-bottom: 1px solid $c-blue;
}

.accordion {

  max-width: 1122px;
  margin: 0 auto;

  .slide {
    overflow: hidden;

    .customer-account & {
      border-bottom: 1px solid $c-blue;
    }

    .buttons-set {
      padding-top: 0;
      border-top: 0;
    }
  }

  > li {
    position: relative;
    margin: 0 0 44px;
  }

  .active {
      .opener {
       i {
        &:before {
          margin: -4px 0 0 2px;
          transform: none;
        }
      }
    }
  }

  .holder-box {
    overflow: hidden;
  }

  .col2-holder {
    overflow: hidden;

    .button {
      float: right;
    }
  }

  .box-password {
    width: 48.9%;
    float: left;

    @include media('<tablet') {
      float: none;
      width: 100%;
      min-height: 0 !important;
    }

    .box-title {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        float: none;
        margin: 0 10px 0 0 !important;
      }
    }

    h3 {
      float: left;
    }

    a {
      float: right;
      width: 310px;
      margin: 5px 0 0;

      @include media('<tablet') {
        float: none;
        width: auto;
      }
    }
  }

  .box-user {
    font-size: 16px;
    float: right;
    width: 49.1%;

    @include media('<tablet') {
      float: none;
      width: 100%;
      min-height: 0 !important;
    }

    a {
      font-family: $f-stack-sans;
      background: none;
      padding: 0;
      font-size: 16px !important;
      line-height: 19px !important;
      font-weight: bold;
      color: $c-blue !important;
      text-decoration: underline;
      vertical-align: top;

      &:hover,
      &:focus {
        background: none;
        text-decoration: none;
      }
    }

    p {
      font-size: 16px !important;
      margin: 0 !important;
    }

    h3 {
      margin: 0 0 2px !important;
    }
  }

  .col2-set {
    padding: 15px 0 0 27px;
    max-width: 617px;

    @include media('<tablet'){
      padding: 0;
      max-width: none;
    }

    &.addresses-list {
      padding: 0;
      max-width: none;
    }
  }

  .box-account {
    margin: 0 0 12px;
    padding: 8px 19px 13px 12px;
    background: none;

    @include media('<phone') {
      height: auto !important;
    }

    &.box-recent {
      padding: 0;
    }

    &.box-info {
      background: $c-tabs-background;
    }

    p,
    address {
      font: 20px/1.2 $f-stack-sans;
      font-style: normal;
      margin: 0 0 0.5em;

      @include media('<tablet'){
        font-size: 16px;
      }
    }
  }

  p.required {
    font-size: inherit;
  }

  .opener {
    @extend %clearfix;
    display: block;
    letter-spacing: 0.6px;
    padding: 0 70px 6px 21px;
    margin: 0 0 21px;
    color: $c-blue-dark;
    border-bottom: 1px solid $c-blue;

    i {
      position: absolute;
      right: 22px;
      bottom: -19px;
      width: 38px;
      height: 38px;
      border-radius: 100%;
      background: $c-blue;
      color: $c-white;
      font-size: 9px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        margin: 0 0 0 2px;
        transform: rotate(-180deg);
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.dashboard {
  max-width: 1122px;
  margin: 0 auto;

  .box-head,
  .box-title, {
    border: none;
    padding: 0;
    margin: 0;

    a {
      @extend .button;
    }
  }

  h2,
  h3 {
    font: bold 16px/19px $f-stack-sans;
    text-transform: none;
    letter-spacing: 0.6px;
    margin: 0 0 0.5em !important;
  }

  .button {
    font-style: normal;
    color: $c-white;
    font-size: 24px;
    text-transform: none;

    @include media('<tablet') {
      font-size: 16px;
    }
  }

  .data-table {

    .price-box .price,
    .price {
      font-family: $f-stack-sans;
    }

    th {
      border: none;
    }

    td {
      font-size: 12px;
      background: $c-tabs-background;
      border-bottom: 4px solid $c-white;
    }
  }
}

.i-circle {
  border-radius: 100%;
  color: $c-white;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  width: 20px;
  height: 20px;
  background: $c-blue;
  position: relative;
  padding-top: 2px;
  cursor: pointer;

  &:hover {
    .drop-btn {
      display: block;
    }
  }

  .drop-btn {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    padding: 11px 0 0;
    transform: translateX(-50%);
    z-index: 1;
  }

  .btn-holder {
    position: relative;

    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(213, 0, 0, 0);
      border-bottom-color: $c-blue;
      border-width: 7px;
      margin-left: -7px;
    }
  }

  a,
  span {
    font-size: 12px;
    line-height: 15px;
    color: $c-blue !important;
    border: 2px solid $c-blue;
    background: $c-white;
    font-weight: 600;
    padding: 10px 38px 11px;
    letter-spacing: 0.5px;
    display: block;

    // &:hover {
    //   background: $c-blue;
    //   color: $c-white !important;
    //   text-decoration: none;
    // }
  }
}

body.customer-account-index .my-account .page-title h1 {
  text-align: center;
  margin-right: 0px;
}

body.customer-account-index .my-account .page-title {
  font-size: 24px;
  line-height: 1.25;
  max-width: 720px;
  margin: 0 auto 35px;
  font-weight: 300;
}

.customer-account-index {
  .buttons-set {
    .back-link {
      display: none;
    }
  }
}

.box-account {
  .data-table {
    font: 12px/15px $f-stack-sans;
    margin: 0 0 41px;

    .i-circle {
      margin: -1px 0 1px -11px;
    }

    td {
      border-bottom: 4px solid $c-white;
      background: #f0f0f0;
      padding: 19px 5px 7px 12px;

      &.total {
        text-align: center;
        padding-right: 79px;
      }
    }

    th {
      font-size: 16px;
      border: none;
      padding: 0 0 14px 12px;

      &.number {
        width: 20.185%;
      }

      &.date {
        width: 13.703%;
      }

      &.ship {
        width: 16.018%;
      }

      &.total {
        width: 24.629%;
      }

      &.status {
        width: 12.037%;
      }

      &.view {
        width: 13.333%;
      }
    }

    .price {
      font-family: $f-stack-sans;
    }

    .nobr {
      a {
        color: $c-blue;
        font: bold 12px/15px $f-stack-sans;
        text-transform: none;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .sub-table-text {
    font-size: 16px;
    line-height: 24px;
    
    @include media('>=tablet') {
      padding: 0 150px 0 0;
      letter-spacing: 0.7px;

      p {
        font-size: 16px;
        line-height: 24px;
      }

      h3 {
        font: bold 16px/19px $f-stack-sans;
        margin: 0 0 3px;
      }
    }    

    @include media('<tablet') {
      p {
        font-size: 14px;
      }
    }
  }
}

body.customer-account {
  .my-account,
  .addresses-list,
  .order-details {
    h2 {
      color: $c-blue-dark;
      font: bold 16px/19px $f-stack-sans;
    }

    .addresses-list {
      h3 {
        font: bold 16px/20px $f-stack-sans;
        margin: 0 0 10px;
      }

      .addresses-primary,
      .addresses-additional {
        float: none;
        width: 100%;
        padding: 0;
        position: relative;

        @include media('>=tablet') {
          p:last-child {
            position: absolute;
            top: 19px;
            right: 10px;
          }

          .empty {
            p:last-child {
              position: static;
            }
          }
        }
      }

      ol {
        line-height: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
        margin-bottom: 20px;

        @include media('<tablet') {
          display: block;
        }

        li {
          background: #f0f0f0;
          padding: 19px 24px;
          position: relative;
          width: 49%;
          float: none;

          @include media('>=tablet') {
            padding-right: 24px + 50px;
          }

          @include media('<tablet') {
            width: 100%;
          }
        }

        .link {
          position: absolute;
          right: 16px;
          top: 18px;

          @include media('<desktop') {
            position: static;
          }
        }

        a {
          color: $c-blue;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

.customer-add-new-address {
  font-weight: bold;
  color: $c-blue;
  border-bottom: 3px solid $c-blue;
  font-weight: bold;
  padding: 0 0.1em;

  &:before {
    content: "+";
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 3px 0 0;
    vertical-align: middle;
  }

  &:hover {
    color: $c-green;
    border-color: $c-green;
    text-decoration: none;
  }
}

.scaffold-form {
  .form-list .field,
  .form-list .wide,
  .form-list .control {
    width: 50%;
    float: left;
    padding: 0 20px;

    @include media('<tablet') {
      width: 100%;
      padding: 0;
      float: none;
    }
  }

  input[type="email"],
  input[type="search"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="text"] {
    width: 100%;
  }

  .jcf-select {
    width: 100%;
    height: 40px;

    .jcf-select-text {
      line-height: 38px;
    }
  }
}



.customer-add-first-address {
  margin: 0 21px;
  background: #f0f0f0;
  color: $c1;
  text-align: center;
  font-weight: bold;
  padding: 30px 10px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 21px * 2);

  &:hover {
    text-decoration: none;
  }

  &:before {
    content: '+';
    font: bold 1.5em/30px Arial, Helvetica, sans-serif;
    margin-right: 10px;
  }

  @include media('>=tablet') {
    width: calc(50% - 21px * 2);
    font-size: 26px;
  }

  @include media('>=widescreen') {
    font-size: 32px;
  }
}


.box-password {
  .page-title {
    display: none;
  }

  .form-list .field {
    margin-bottom: 0;
  }

  #form-validate {
    display: none;
  }
}