.video-section {
  padding: 0 0 86px;

  @include media('>=desktop') {
    padding: 0 0 116px;
  }

  h1 {
    margin-bottom: 38px;

    @include media('>=desktop') {
      margin-bottom: 33px;
    }
  }
}

.video-holder {
  font-size: 16px;
    line-height: 1.625;

  @include media('>=tablet') {
    max-width: 477px;
    margin: 0 auto;
  }

  @include media('>=desktop') {
   max-width: none;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-content: stretch;
   align-items: stretch;
 }

 @include media('>=xwidescreen') {
  margin: 0;
  padding: 0 140px 0 0;
  font-size: 16px;
}

.video-box {
  position: relative;
  display: block;
  margin: 3px 0 14px;
  height: 293px;
  background-size: cover;
  background-position: 50% 50%;

  @include media('>=tablet') {
    margin: 3px 0 44px;
  }

  @include media('>=desktop') {
      width: 53.697%;
      margin: 3px 0 0;
      height: 391px;
    }

    img {
      width: 100%;
      height: auto;
    }

    a {
      display: block;
    }

    &.play-box {
      &:before {
        display: none;
      }
    }

    .video-text {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: flex-start;
      align-items: center;
      z-index: 1;
      padding: 39px 50px 20px;

      @include media('>=desktop') {
        padding: 58px 70px 10px;
      }

      &:after {
        background: url(../images/play.svg) no-repeat;
        width: 39px;
        height: 43px;
        display: block;
        margin: 13px auto 0;
        content: '';

        @include media('>=tablet') {
          margin: 33px auto 0;
        }

        @include media('>=desktop') {
          margin: 27px auto 0;
        }
      }
    }

    h2 {
      font: 600 27px/29px $f-stack-special;
      color: #fff;
      margin: 10px 0;
      width: 100%;

      @include media('>=tablet') {
        font-size: 37px;
        line-height: 49px;
      }

      @include media('>=xwidescreen') {
        font-size: 48px;
        line-height: 49px;
        margin: 20px 0;
      }
    }
  }

  .video-description {
    letter-spacing: 0.4px;

    @include media('>=desktop') {
      width: 35.2%;
      padding: 0 0 57px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: stretch;
    }
  }

  .button {
    display: table;
    margin: 0 auto;
    font-size: 20px;
    padding: 11px 71px;

    @include media('>=desktop') {
      display: block;
      width: 100%;
      font-size: 24px;
      padding: 16px 15px;
    }
  }

  p {
    margin: 0 0 20px;

    @include media('>=tablet') {
      margin: 0 0 47px;
    }

    @include media('>=desktop') {
      margin: 0 0 30px;
    }
  }
}

.play-box {
  position: relative;

  &:after {
    content: '';
    background: rgba($c-blue, 0.65);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &:before {
    background: url(../images/play.svg) no-repeat;
    width: 39px;
    height: 43px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    z-index: 1;
  }
}