.faq {
  background: $c3;
  color: #fff;
  position: relative;
}

.faq-list {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  color: #fff;
}

.faq-question {
  font-size: 16px;
  margin-bottom: 37px;

  .slide {
    padding: 15px 20px 45px;
  }
}

.faq-question-title {
  border-bottom: 1px solid $c1;
  padding: 6px 20px;
  font-weight: bold;
  font-size: 16px;

  @include media('<tablet') {
    padding-right: 45px;
    padding-left: 10px;
  }
}

.faq-question-opener {
  position: relative;
  text-align: right;
  height: 1px;
  background: $c1;
  padding: 0 31px;
  margin-top: -1px;

  .opener {
    width: 37px;
    height: 37px;
    font-size: 10px;
    line-height: 37px;
    background: $c1;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    top: (-37px / 2);
    transform: rotate(180deg);
    text-decoration: none !important;
    outline: none;
  }

  @include media('<tablet') {
    padding-right: 10px;
  }

  .active & {

    .opener {
      transform: rotate(0);
    }
  }
}