.graphic-section {
	text-align: left;
	width: 1193px;
	padding: 69px 0 113px;
	margin: 0 auto;
	font-size: 16px;

	.graphic-block {
		position: relative;
		z-index: 1;
		padding: 0 0 37px;
	}

	.graphic-img {
		max-width: 940px;
		margin: 0 auto;

		[class^="img-"] {
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.img-desktop {
		@include media('<768px') {
			display: none;
		}
	}

	.img-mobile {
		@include media('>=768px') {
			display: none;
		}
	}

	.graphic-text {
		position: absolute;
		top: 30px;
		max-width: 263px;
		width: 100%;

		@include media('>=tablet'){
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: stretch;
			align-items: flex-end;
		}

		img {
			float: left;
		}
	}

	.choose-text {
		left: 134px;
	}

	.create-text {
		left: 50%;
		transform: translateX(-50%);
		max-width: 186px;
		margin-left: 19px;
		z-index: -1;

		.number {
			letter-spacing: -5px;
		}
	}

	.order-text {
		right: 0;
		max-width: 340px;

		.number {
			padding: 0 0 17px;
		}
	}

	.sub-text {
		top: 279px;
		max-width: 473px;
		left: 50%;
		transform: translateX(-50%);
		margin-left: -11px;

		.text {
			max-width: 50%;
			padding: 0 10px;
		}
	}

	p {
		margin: 0;
		overflow: hidden;

		a {
			color: $c-blue;
			font-weight: bold;
			border-bottom: 3px solid;
			padding: 0 0.1em;

			&:hover {
				text-decoration: none;
				color: $c-green;
			}
		}
	}

	.number {
		font: 600 100px/78px $f-stack-special;
		color: $c-green;
		display: block;
		width: 63px;
		letter-spacing: -13px;
		padding: 0 0 2px;
		text-align: center;
	}
}