.graphic-section {
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  padding: 22px 0 0;

  @include media('>=tablet') {
    padding: 28px 0 70px;
    font-size: 16px;
    line-height: 1.5;
  }

  @include media('>=xwidescreen') {
    margin: 0 auto;
    width: 1193px;
    padding: 69px 0 113px;
  }

  .graphic-block {
    position: relative;
    z-index: 1;
    padding: 0 0 37px;
    margin: 0 -49px;

    @include media('>=tablet') {
      width: 774px;
      margin: 0 auto;
    }

    @include media('>=xwidescreen') {
      width: auto;
    }
  }

  .graphic-img {
    width: 380px;
    height: 680px;
    margin: 0 auto;

    @include media('>=tablet') {
      width: auto;
      height: auto;
      max-width: 769px;
    }

    @include media('>=xwidescreen') {
      max-width: 940px;
    }

    [class^="img-"] {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .img-desktop {
    @include media('<tablet') {
      display: none;
    }
  }

  .img-mobile {
    @include media('>=tablet'){
      display: none;
    }
  }

  .graphic-text {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 280px;
    text-align: center;
    top: 13px;

    @include media('>=tablet') {
      text-align: left;
      max-width: 229px;
      top: 22px;
      transform: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: flex-end;
    }

    @include media('>=xwidescreen') {
      max-width: 263px;
      top: 30px;
    }

    br {
      display: none;

      @include media('>=tablet') {
        display: block;
      }
    }
  }

  .choose-text {
    .number {
      padding: 0 88px 0 0;

      @include media('>=tablet') {
        padding: 0;
      }
    }

    @include media('>=tablet') {
      left: 4px;
    }

    @include media('>=xwidescreen') {
      left: 134px;
    }
  }

  .create-text {
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: 152px;

    @include media('>=tablet') {
      margin-left: 22px;
      max-width: 177px;
      top: 22px;
    }

    @include media('>=xwidescreen') {
      margin-left: 19px;
      max-width: 186px;
      top: 30px;
    }

    .number {
      letter-spacing: -5px;
    }
  }

  .order-text {
    top: 525px;
    max-width: 220px;

    @include media('>=tablet') {
      display: block;
      max-width: 190px;
      right: -6px;
      left: auto;
      top: 22px;
    }

    @include media('>=xwidescreen') {
      display: flex;
      max-width: 340px;
      right: 0;
      top: 30px;
    }

    p {
      @include media('>=tablet') {
        margin: -2px 10px 0 11px;
      }

      @include media('>=xwidescreen') {
        margin: 0;
      }
    }

    .number {
      padding: 0 70px 6px 0;

      @include media('>=tablet') {
        padding: 0 0 17px;
      }
    }
  }

  .sub-text {
    max-width: 320px;
    left: 50%;
    top: 380px;
    padding: 0 20px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;

    @include media('>=tablet') {
      padding: 0 37px 0 0;
      top: 232px;
      max-width: 473px;
      margin-left: -11px;
    }

    @include media('>=xwidescreen') {
      padding: 0;
      top: 279px;
    }

    .text {
      max-width: 41%;
      text-align: left;

      &:last-child {
        max-width: 47%;

        @include media('>=tablet') {
          max-width: 50%;
        }
      }

      @include media('>=tablet') {
        max-width: 50%;
        padding: 0 10px;
      }

      p {
        overflow: visible;
      }
    }
  }

  p {
    margin: 0;
    overflow: hidden;

    a {
      color: $c-blue;
      font-weight: bold;
      border-bottom: 3px solid;
      padding: 0 0.1em;

      &:hover {
        text-decoration: none;
        color: $c-green;
      }
    }
  }

  .number {
    font-family: $f-stack-special;
    font-weight: 600;
    color: $c-green;
    display: block;
    text-align: center;
    font-size: 83px;
    line-height: 85px;
    letter-spacing: -12px;

    @include media('>=tablet') {
      font-size: 82px;
      line-height: 67px;
      letter-spacing: -10px;
      margin-right: 10px;
      display: block;
      padding: 0 0 2px;
      width: 63px;
    }

    @include media('>=xwidescreen') {
      font-size: 100px;
      line-height: 78px;
      letter-spacing: -13px;
      margin-right: 15px;
    }
  }
}