.help-menu {
  position: fixed;
  top: 307px;
  right: 0;
  z-index: 5;
  // display: flex;
  font-family: $f-stack-special;
  font-size: 20px;
  line-height: 28px;
  // align-items: flex-start;
  background: $c2;
  color: $c3;
  padding: 6px 37px 6px 0;

  transform: translateX(100%);
  transition: transform 0.3s ease-in;

  @include media('<tablet') {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }


  .btn {
    line-height: 36px;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    // width: 85px;
    text-align: center;
    white-space: nowrap;
    background: $c2;
    color: $c3;
    width: 93px;

    transform: rotate(-90deg) translate(-100%, -100%);
    //transform-origin: 100% 100%;
    font-size: 18px;
    transform-origin: left top 0;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }

  &-body {
    background: $c2;
    color: $c3;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 37px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
    }
  }

  ul {
    width: 99px;
    text-align: center;
    border: 1px solid #fff;
    border-width: 0 1px;
    height: 81px;
  }
}