.hero {
  background-position: 50% 50%;
  background-size: cover;
  height: 300px;
  text-align: center;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(black, 0) 20%, rgba(black, 0.5));
  }

  .hero-title {
    color: $c1;
    font: 600 38px/1.0798 $f-stack-special;
    letter-spacing: 1px;
  }

  .hero-sub-title {
    color: #fff;
    font: 300 30px/1.0798 $f-stack-special;
    position: relative;

    &:after {
      content: '';
      display: block;
      height: 3px;
      background-color: $c1;
      width: 100%;
      margin: 4px auto;
      max-width: 162px;
    }
  }

  .hero-slogan {
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.75em;
  }

  .button {
    font-size: 20px;
    padding: 0 40px;
    line-height: 48px;
  }

  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    > div {
      width: 100%;
    }
  }

  @include media('>=tablet') {
    height: 440px;

    .hero-title {
      margin-bottom: .5em;
    }

    .hero-sub-title {
      &:after {
        max-width: 368px;
        margin: 15px auto 20px;
      }
    }

    .hero-slogan {
      margin-bottom: 2em;
    }

    .button {
      padding: 0 57px;
    }

    > .container {
      justify-content: flex-end;
      padding-bottom: 55px;
    }
  }

  @include media('>=desktop') {
    height: 660px;

    .hero-title {
      font-size: 55px;
    }

    .hero-sub-title {
      font-size: 41px;

      &:after {
        max-width: 474px;
        height: 4px;
        // margin: 15px auto 20px;
      }
    }

    .hero-slogan {
      font-size: 20px;
    }

    > .container {
      padding-bottom: 75px;
    }
  }

  @include media('>=widescreen') {
    height: 879px;

    .hero-title {
      font-size: 75px;
    }

    .hero-sub-title {
      font-size: 61px;

      &:after {
        max-width: 674px;
        height: 4px;
        // margin: 15px auto 20px;
      }
    }

    .hero-slogan {
      font-size: 28px;
    }

    .button {
      padding: 0 105px;
      line-height: 90px;
      font-size: 37px;
    }

    > .container {
      padding-bottom: 100px;
    }
  }
}