.home-items {
  text-align: center;

  .heading-panel {
    padding: 30px;

    @include media('>=tablet') {
      padding: 80px 0 55px;
    }

    @include media('>=desktop') {
      padding: 65px 0 60px;
    }
  }

  .page-title {
    color: $c1;

    h1 {
      color: inherit;
    }
  }

  .sh {
    font-weight: 300;
  }
}

.home-items-slider {
  font-size: 14px;

  @include media('>=tablet') {
    font-size: 15px;
  }

  @include media('>=desktop') {
    font-size: 16px;
  }

  @include media('>=widescreen') {
    font-size: 18px;
  }

  .slide {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-image: linear-gradient(to bottom, rgba(black, 0) 20%, rgba(black, 0.5));
      transition: all 0.3s ease;
      opacity: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .slick-arrow {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    background: transparent;
    border: 0;
    z-index: 5;
    // width: 30px;
    // height: 30px;
    // line-height: 30px;
    line-height: 1;
    min-width: 30px;
    text-align: center;
    color: #fff;
    transform: translateY(-50%);
    outline: none;
  }

  .slick-prev {
    left: 3%;
  }

  .slick-next {
    right: 3%;
  }

  @include media('>=tablet') {
    .slick-arrow {
      font-size: 30px;
    }

    .slick-prev {
      left: 6%;
    }

    .slick-next {
      right: 6%;
    }
  }

  @include media('>=desktop') {
    .slick-arrow {
      font-size: 36px;
    }

    .slick-prev {
      left: 18.5%;
    }

    .slick-next {
      right: 18.5%;
    }
  }


  .slide-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    padding: 10px 10px 40px;
    opacity: 0;
    transition: all 0.3s ease;

    @include media('>=tablet') {
      padding: 10px 10px 20px;
    }

    @include media('>=desktop') {
      padding: 10px 10px 30px;
    }

    @include media('>=widescreen') {
      padding: 10px 10px 40px;
    }
  }

  .slick-center,
  .slick-current {
    .slide-body {
      opacity: 1;
    }

    &:after {
      opacity: 1;
    }
  }

  .button {
    font-size: 1.4285em;
    padding: 0 2em;
    line-height: 48px;

    @include media('>=desktop') {
      line-height: 56px;
      //padding: 0 2em;
    }
  }


  .hero-title {
    color: #fff;
    font: 300 2.2em/1.0798 $f-stack-special;
    letter-spacing: 0.05em;
  }

  .hero-sub-title {
    color: #fff;
    font: 600 2.2em/1.0798 $f-stack-special;
    position: relative;
    letter-spacing: 0.05em;

    &:after {
      content: '';
      display: block;
      height: 3px;
      background-color: $c1;
      width: 100%;
      margin: 0.5em auto;
      max-width: 182px;
    }
  }

  .hero-slogan {
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.75em;

    @include media('>=tablet') {
      margin-bottom: 2em;
      margin-top: 1em;
    }
  }

  @include media('<tablet') {
    &.slick-dotted {
      padding-bottom: 107px;
      margin-bottom: 34px;

      .slide-body {
        padding-bottom: 5px;
      }

      .slick-arrow {
        top: calc(50% - (107px / 2));
      }

      .slick-list {
        overflow: visible;
      }

      .slick-dots {
        bottom: 77px;
      }

      .button {
        position: absolute;
        bottom: -107px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}