.how-it-works {
  text-align: center;
  padding: 30px 0;

  .page-title {
    margin: 0 auto 40px;
    max-width: 860px;
  }

  @include media('>=tablet') {
    padding: 40px 0;
  }

  @include media('>=desktop') {
    padding: 50px 0;
  }

  @include media('>=widescreen') {
    padding: 60px 0;
  }
}