@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?l0tkx');
  src:  url('../fonts/icomoon.eot?l0tkx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?l0tkx') format('truetype'),
    url('../fonts/icomoon.woff?l0tkx') format('woff'),
    url('../fonts/icomoon.svg?l0tkx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icono_direcciones:before {
  content: "\e959";
  color: #808080;
}
.icon-icono_favoritos:before {
  content: "\e95a";
  color: #808080;
}
.icon-icono_mis_pedidos:before {
  content: "\e95b";
  color: #808080;
}
.icon-icono_opiniones:before {
  content: "\e95c";
  color: #808080;
}
.icon-icono_atc:before {
  content: "\e95d";
  color: #808080;
}
.icon-telefono:before {
  content: "\e955";
}
.icon-whatsapp:before {
  content: "\e956";
}
.icon-e-mail:before {
  content: "\e957";
}
.icon-aspas:before {
  content: "\e954";
  color: #f4f3f1;
}
.icon-filter:before {
  content: "\e953";
  color: #4a4a4a;
}
.icon-remover:before {
  content: "\e951";
  color: #c0c0c0;
}
.icon-leaves:before {
  content: "\e952";
  color: #edebe5;
}
.icon-telephone_mobile2 .path1:before {
  content: "\e949";
  color: rgb(244, 243, 241);
}
.icon-telephone_mobile2 .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.icon-telephone_mobile2 .path3:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.icon-telephone_mobile2 .path4:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.icon-offers_icon:before {
  content: "\e948";
  color: #ee7d6d;
}
.icon-star_empty:before {
  content: "\e947";
  color: #f8f1dd;
}
.icon-lateral_arrow:before {
  content: "\e94d";
  color: #808080;
}
.icon-leafs_naturitas:before {
  content: "\e94e";
  color: #5cb8a3;
}
.icon-return:before {
  content: "\e94f";
  color: #d2cbb8;
}
.icon-arrow_newsletter:before {
  content: "\e945";
  color: #d1ece6;
}
.icon-delivery_express:before {
  content: "\e946";
  color: #d2cbb8;
}
.icon-ventaja01:before {
  content: "\e93e";
  color: #d2cbb8;
}
.icon-ventaja02:before {
  content: "\e93f";
  color: #d2cbb8;
}
.icon-ventaja03:before {
  content: "\e940";
  color: #d2cbb8;
}
.icon-ventaja04:before {
  content: "\e941";
  color: #d2cbb8;
}
.icon-bio_eco:before {
  content: "\e938";
  color: #5cb8a3;
}
.icon-vegan:before {
  content: "\e939";
  color: #5cb8a3;
}
.icon-gluten_free:before {
  content: "\e93a";
  color: #5cb8a3;
}
.icon-sugar_free:before {
  content: "\e93b";
  color: #5cb8a3;
}
.icon-lactose_free:before {
  content: "\e93c";
  color: #5cb8a3;
}
.icon-salt_free:before {
  content: "\e93d";
  color: #5cb8a3;
}
.icon-TW .path1:before {
  content: "\e910";
  color: rgb(29, 161, 242);
}
.icon-TW .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-IG .path1:before {
  content: "\e912";
  color: rgb(125, 48, 173);
}
.icon-IG .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-FB .path1:before {
  content: "\e914";
  color: rgb(52, 83, 145);
}
.icon-FB .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-telephone:before {
  content: "\e916";
  color: #616161;
}
.icon-simbolo .path1:before {
  content: "\e917";
  color: rgb(0, 0, 0);
}
.icon-simbolo .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(107, 183, 166);
}
.icon-simbolo .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(107, 183, 166);
}
.icon-simbolo .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path5:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path6:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path7:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path8:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path9:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path10:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path11:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path12:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path13:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path14:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path15:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path16:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path17:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path18:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path19:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path20:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path21:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path22:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path23:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path24:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path25:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path26:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path27:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path28:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path29:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path30:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path31:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-simbolo .path32:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-email:before {
  content: "\e937";
  color: #616161;
}
.icon-telephone_mobile .path1:before {
  content: "\e900";
  color: rgb(244, 243, 241);
}
.icon-telephone_mobile .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.icon-telephone_mobile .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.icon-telephone_mobile .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(128, 128, 128);
}
.icon-account:before {
  content: "\e904";
  color: #808080;
}
.icon-arrow:before {
  content: "\e905";
  color: #d7d7d7;
}
.icon-cart:before {
  content: "\e906";
  color: #616161;
}
.icon-favoritos:before {
  content: "\e907";
  color: #808080;
}
.icon-logo_naturitas:before {
  content: "\e908";
  color: #5cb8a3;
}
.icon-search:before {
  content: "\e909";
  color: #fff;
}
.icon-menu_mobile:before {
  content: "\e90a";
  color: #616161;
}
.icon-phone:before {
  content: "\e90b";
  color: #fff;
}
.icon-free-delivery:before {
  content: "\e90c";
  color: #fff;
}
.icon-devolucion:before {
  content: "\e90d";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e943";
}
.icon-arrow-left:before {
  content: "\e944";
}
.icon-close:before {
  content: "\e950";
}
.icon-person_outline:before {
  content: "\e90e";
}
.icon-facebook:before {
  content: "\e942";
}
.icon-angle-down:before {
  content: "\e90f";
}
