/* custom checkbox styles */

.jcf-checkbox {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: default;
    background: #fff;
    border-radius: 100%;
    border: none;
    width: 16px;
    height: 16px;
    margin: 0 3px 0 0;
    height: 16px;
    width: 16px;

    .customer-account & {
        box-shadow: 0 0 0 1px #ccc;
        border-radius: 0;
    }
}

.jcf-checkbox span {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    height: 8px;
    width: 11px;
    margin: -6px 0 0 -5px;
    border: 2px solid $c-green;
    border-width: 0 0 2px 2px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}

 :root .jcf-checkbox span {
    margin: -6px 0 0 -5px;
}

.jcf-checkbox input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.jcf-checkbox.jcf-checked span {
    display: block;
}


/* custom radio styles */

.jcf-radio {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: default;
    background: #f0f0f0;
    border-radius: 9px;
    margin: 0 3px 0 0;
    height: 16px;
    width: 16px;
}

.jcf-radio span {
    display: none;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #bfdd48;
    border-radius: 100%;
}

.jcf-radio input[type="radio"] {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.jcf-radio.jcf-checked span {
    display: block;
}


/* custom select styles */

.jcf-select {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: 1px solid #149bd3;
    border-width: 0 1px 1px 0;
    background: #fff;
    margin: 0 0 12px;
    min-width: 162px;
    height: 29px;

    &.jcf-drop-active {
        border-bottom-color: transparent;
    }
}

.jcf-select select {
    z-index: 1;
    left: 0;
    top: 0;
}

.jcf-select .jcf-select-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin: 0 31px 0 7px;
    letter-spacing: 0.5px;
    color: $c-black;
    text-align: left;
}

.jcf-select .jcf-select-opener {
    position: absolute;
    text-align: center;
    width: 31px;
    bottom: 0;
    right: 0;
    top: 0;

    &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) rotate(180deg);
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e900";
        font-size: 9px;
        margin: -2px 0 0;
    }
}

body>.jcf-select-drop {
    position: absolute;
    margin: -4px 0 0;
    z-index: 99999;
}

body>.jcf-select-drop.jcf-drop-flipped {
    margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
    position: absolute;
    margin-top: 0px;
    z-index: 99999;
    top: 100%;
    left: -1px;
    right: -1px;
}

.jcf-select .jcf-drop-flipped {
    bottom: 100%;
    top: auto;
}

.jcf-select-drop .jcf-select-drop-content {
    border-right: 1px solid $c-blue;
    border-bottom: 1px solid $c-blue;
}


/* multiple select styles */

.jcf-list-box {
    overflow: hidden;
    display: inline-block;
    border: 1px solid #b8c3c9;
    min-width: 200px;
    margin: 0 15px;
}


/* select options styles */

.jcf-list {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: rgba(#fff, 0.8);
    line-height: 14px;
    font-size: 12px;
    width: 100%;
}

.jcf-list .jcf-list-content {
    vertical-align: top;
    display: inline-block;
    overflow: auto;
    width: 100%;
}

.jcf-list ul {
    list-style: none;
    padding: 1px 0 6px;
    margin: 0;
}

.jcf-list ul li {
    overflow: hidden;
    display: block;
}

.jcf-list .jcf-overflow {
    overflow: auto;
}

.jcf-list .jcf-option {
    overflow: hidden;
    cursor: default;
    display: block;
    line-height: 13px;
    padding: 0 32px 1px 9px;
    color: #193542;
    height: 1%;
    text-align: right;
    letter-spacing: 0.6px;

    &.jcf-option-hideme {
        display: none;
    }
}

.jcf-list .jcf-disabled {
    background: #fff !important;
    color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
    background: $c-blue;
    color: #fff;
}

.jcf-list .jcf-optgroup-caption {
    white-space: nowrap;
    font-weight: bold;
    display: block;
    padding: 5px 9px;
    cursor: default;
    color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
    padding-left: 30px;
}


/* custom range input styles */

.jcf-range {
    display: inline-block;
    min-width: 200px;
    // margin: 0 10px;
    width: 100%;
}

.jcf-range .jcf-range-track {
    margin: 0 20px 0 0;
    position: relative;
    display: block;
}

.jcf-range .jcf-range-wrapper {
    background: $c1;
    border-radius: 2px;
    display: block;
    margin: 5px 0;
    height: 2px;
}

.jcf-range.jcf-vertical {
    width: auto;
}

.jcf-range.jcf-vertical .jcf-range-wrapper {
    margin: 0;
    width: 10px;
    height: auto;
    padding: 20px 0 0;
}

.jcf-range.jcf-vertical .jcf-range-track {
    height: 180px;
    width: 10px;
}

.jcf-range.jcf-vertical .jcf-range-handle {
    left: -5px;
    top: auto;
}

.jcf-range .jcf-range-handle {
    position: absolute;
    background: url(../images/range.svg) no-repeat 50% 50%;
    width: 17px;
    height: 18px;
    margin: -8px 0 0;
    z-index: 1;
    top: 0;
    left: 0;
}

.jcf-range .jcf-range-mark {
    position: absolute;
    overflow: hidden;
    background: #000;
    width: 1px;
    height: 3px;
    top: -7px;
    margin: 0 0 0 9px;
}

.jcf-range.jcf-vertical .jcf-range-mark {
    margin: 0 0 9px;
    left: 14px;
    top: auto;
    width: 3px;
    height: 1px;
}

.jcf-range.jcf-focus .jcf-range-handle {
    // border: 1px solid #f00;
    // margin: -5px 0 0 -1px;
}

.jcf-range.jcf-disabled {
    background: none !important;
    opacity: 0.3;
}


/* common custom form elements styles */

/* common custom form elements styles */

.jcf-disabled {
    background: #ddd !important;
}
