// burger menu style
.nav-opener,
.mobile-opener {
  display: inline-block;
  position: relative;
  z-index: 200;
  width: 31px;
  height: 29px;
  text-indent: -9999px;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 9;

  &:before,
  &:after,
  span {
    background: $c2;
    border-radius: 0;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    height: 4px;
    transition: all 0.2s linear;
  }

  &:before,
  &:after {
    content: '';
    top: 3px;
  }

  &:after {
    top: 21px;
  }

  //.nav-active & {
  .active & {
    span {
      opacity: 0;
    }

    &:before,
    &:after {
      top: 12px;
      //background: #fff;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  @include media('>=desktop') {
    display: none;
  }
}