body {
  background: #ccc;
}
.modal {
  display: none;
  width: 419px;
  max-width: 100%;
  margin: 0 auto 200px;
  font-size: 16px;
  padding: 11px 10px 45px;
  background: #fff;

  h2 {
    font-size: 39px;
    color: $c-blue;
    margin: 0 0 26px;
  }

  .fancybox-close-small {
    font: 300 75px/39px $f-stack-special;
    opacity: 1;
    color: #000;
    top: 7px;

    &:hover {
      opacity: 0.6;
    }
  }

  .text {
    b {
      display: block;
    }
  }

  .jcf-select {
    width: 100%;
    margin: 0;
    height: 45px;

    .jcf-select-text {
      line-height: 44px;
    }
  }

  .validation-advice {
    display: none;
  }

  .button,
  input[type='submit'] {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}


.user-form {
  text-align: center;
  font-size: 16px;

  .form-box {
    padding: 0 15px;

    a {
      color: $c-blue;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    @include media('>=tablet') {
      padding: 0 54px;
    }

    .button {
      color: #fff;
      text-decoration: none;
    }
  }

  input:not([type="submit"]) {
    font-size: 16px;
    color: $c-blue-dark;
    margin: 0 0 13px;
    height: 46px;
  }

  input[type="submit"] {
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    display: table;
    margin: 0 auto 9px;
    min-width: 200px;
  }

  .button {
    min-width: 200px;
    font-size: 24px;
    color: #fff;
  }

  ::-webkit-input-placeholder {
    color: $c-blue-dark;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: $c-blue-dark;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $c-blue-dark;
    opacity: 1;
  }
  :-moz-placeholder {
    color: $c-blue-dark;
    opacity: 1;
  }

  a:not(.button) {
    color: $c-blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .text {
    padding: 32px 10px 8px;
  }

  .jcf-radio {
    background: $c-text-white;
    border: 1px solid $c-blue;
    height: 31px;
    width: 31px;
    top: -2px;
    border-radius: 100%;
    vertical-align: middle;
  }

  .jcf-radio span {
    background: $c-blue;
    opacity: 0.7;
    border-radius: 100%;
  }

  .radio-box {
    margin: 12px 0 21px;
    padding: 9px 0 5px;

    &.validation-failed {
      background: rgba($c-red, 0.1);
    }

    label {
      margin: 0 11px;
    }
  }

  label {
    display: inline-block;
    vertical-align: top;
    font: 300 16px/19px $f-stack-sans;
  }

  .request {
    font-style: italic;
    color: $c-red;
    margin: 0 0 11px;
  }
}

.register-form,
.custom-form {

  .input-box,
  .radio-box {
    position: relative;

    .circle {
      position: absolute;
      right: 12px;
      top: 8px;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      color: $c-text-white;
      background: #e9e9e9;
      font-size: 18px;

      &:after {
        content: "\2713";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .input-box {
    padding: 0 54px;
  }

  .radio-box {
    margin: 0 54px 21px;

    .circle {
      right: -41px;
    }
  }

  .radio-box {

    &.validation-failed {
      .circle {
        background: $c-red;

        &:after {
          content: "\0021";
          font-weight: bold;
        }
      }
    }

    &.validation-passed {
      .circle {
        background: $c-green;
      }
    }
  }

  .input-text,
  select {
    &.validation-failed {
      background: rgba($c-red, 0.1);
      & + .validation-advice + .circle,
      & + .circle {
        background: $c-red;

        &:after {
          content: "\0021";
          font-weight: bold;
        }

        & + .input-placeholder-text {
          color: $c-red;
        }
      }
    }

    &.validation-passed {
      & + .jcf-select + .circle,
      & + .validation-advice + .circle,
      & + .circle {
        background: $c-green;
      }
    }
  }
}

p.required,
.validation-advice {
  color: $c-red;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 9px;
}

.validation-failed {
    &::-webkit-input-placeholder {
      color: $c-red;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: $c-red;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $c-red;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: $c-red;
      opacity: 1;
    }
}

//#new-address,
//#form-validate-change-pass 
.modal {
  width: 800px;
  margin: 0 auto;
  padding: 20px 30px 45px;

  @include media('<desktop') {
    padding: 20px 15px 45px;
  }

  &.small-lightbox {
    width: 400px;
  }

  .scaffold-form,
  .register-form {
    padding: 0 32px 0 30px;

    @include media('<desktop') {
      padding: 0 33px 0 0;
    }
  }
}

.custom-form {
  .validation-advice {
    display: none;
  }
}

.custom-form,
.modal {
  .sub-box {
    display: flex;
    text-align: left;

    @include media('<desktop') {
      display: block;
      text-align: center;
      margin-right: -33px;
    }

    .button {
      margin: 0 0 0 10px;
      min-width: 234px;

      @include media('<desktop') {
        margin: 0 auto;
      }
    }

    .label-box {
      background: #f0f0f0;
      flex-grow: 1;
      padding: 2px 10px 1px 12px;

      @include media('<desktop') {
        padding: 7px 10px 6px 12px;
        text-align: left;
        margin: 0 0 10px;
      }

      label {
        margin: 0 0 11px;
        display: block;

        @include media('<desktop') {
          font-size: 14px;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .input-box {
    width: auto;
    height: 45px;
    padding: 0;
    margin: 0 0 13px;

    &.child-input-focused {
      .input-placeholder-text {
        display: block !important;
        opacity: 0.15;
        width: auto !important;
        line-height: 19px !important;
        top: -8px;
        left: 3px;
        transform: translate(0, 0);
      }
    }

    input[style='display: none;'] + .circle + .input-placeholder-text  {
      display: none !important;
    }

    #region_id[style='display: none;'] + .jcf-select  {
      display: none;
    }

    .input-placeholder-text {
      line-height: 44px;
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      transition: all .3s ease;
      white-space: nowrap;

      @include media('<desktop') {
        line-height: 16px;
      }

      @include media('<desktop') {
        font-size: 14px;
        white-space: nowrap;
      }
    }

    label {
      display: block;
      position: relative;
    }

    .circle {
      right: -41px;
    }
  }

  .jcf-checkbox {
    vertical-align: top;
    margin-top: 2px;

    @include media('<desktop') {
      margin-top: 0;
    }
  }

  .input-holder {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;

      @include media('<desktop') {
        display: block;
      }

      .input-text {
        margin: 0;
      }

    .input-box {
      width: 290px;

      &:only-child {
        width: 100%;
      }

      @include media('<desktop') {
        width: 100%;
      }

      .circle {
        right: -41px;

        @include media('<desktop') {
          right: -41px;
        }
      }
    }
  }

  .input-text {
    width: 100%;
    height: 45px;
    margin: 0;
  }

  .radio-box {
    text-align: left;
    margin: -3px 0 13px;
    padding: 8px 0 5px;

    @include media('<desktop') {
      text-align: center;
    }
  }

  h2 {
    color: $c-blue-dark;
    font: bold 16px/19px $f-stack-sans;
    text-align: left;
  }
}

.jcf-select-drop.jcf-select-address-select.jcf-select-jcf-hidden.jcf-unselectable {
  z-index: 99994;
}

.jcf-select-address-select {

  .jcf-list {
    .jcf-option {
      text-align: left;
    }
  }
}

.jcf-select.jcf-select-address-select {
  height: 45px;
  width: 100%;
  display: block;

  .jcf-select-text {
    margin: 0 31px 0 14px;
    line-height: 48px;
    text-align: center;
  }
}