.order-section {
  max-width: 726px;
  margin: 0 auto;

  @include media('>=desktop') {
    max-width: 1080px;
  }

  .cart-table {
    float: none;
    width: 100%;
  }

  .page-title {
    font-size: 18px;
    line-height: 1.31;
    margin: 0 0 40px;

    @include media('>=desktop') {
      font-size: 24px;
      line-height: 1.25;
      margin: 0 0 51px;
    }
  }

  .price-box .price, .price {
    font-family: $f-stack-sans;
  }

  h1 {
    font-size: 34px;

    @include media('>=tablet') {
      font-size: 37px;
    }

    @include media('>=desktop') {
      font-size: 48px;
    }
  }

  .discount-text {
    margin: 0;
  }
}

.order-holder {
  line-height: 1.31;
  font-size: 12px;

  @include media('>=768px') {
    font-size: 14px;
    line-height: 1.27;
    margin: 0 -17px 29px -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
  }

  @include media('>=desktop') {
    font-size: 16px;
    margin: 0 -7px 41px;
  }

  .holder-box {

    @include media('>=768px') {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;
      width: 67%;
    }

    @include media('>=desktop') {
      width: 60%;
    }

    .box {
      @include media('>=768px') {
        width: 50%;
      }
    }
  }

  .box {
    @include media('>=lg-phone') {
      width: 33.4%;
      padding: 0 10px;
    }

    address {
      margin: 0 0 23px;

      @include media('>=tablet') {
        margin: 0;
      }

      a {
        color: $c-text;
      }
    }
  }

  .title {
    display: block;
    margin: 0 0 8px;

    @include media('>=tablet') {
      margin: 0 0 18px;
    }

    @include media('>=desktop') {
      margin: 0 0 24px;
    }
  }

  dl {
    overflow: hidden;
    margin: 0 0 23px;

    @include media('>=tablet') {
      margin: 0 0 38px;
    }

    @include media('>=desktop') {
      margin: 0 0 50px;
    }

    dt {
      float: left;
    }

    dd {
      overflow: hidden;
    }
  }
}

.info-item {
  font-size: 14px;

  @include media('>=desktop') {
    font-size: 16px;
  }

  li {
    margin: 0 0 20px;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: $c-blue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    position: relative;
    padding: 0 0 0 39px;

    &:hover {
      color: $c-green;

      span {
        text-decoration: none;
      }

      i {
        color: $c-blue;
      }
    }

    span {
      text-decoration: underline;
    }


    i,
    img {
      font: 300 26px/29px $f-stack-special;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.main-dl {
  font-weight: bold;
}