.order-process {
  //padding-top: 30px;
  padding-top: 3em;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;

  height: 4px;
  overflow: hidden;
  padding: 0;

  @include media('<tablet') {
    height: 1px;
  }

  &.hightlight-active {
    padding-top: 30px;
    height: auto;
    overflow: visible;
  }

  // @include media('>=tablet') {
  //   padding-top: 35px;
  // }

  // @include media('>=desktop') {
  //   padding-top: 40px;
  // }

  // @include media('>=widescreen') {
  //   padding-top: 45px;
  // }

  .page-title {
    color: $c1;

    > * {
      color: inherit;
    }

    @include media('<tablet') {
      .title {
        font-size: 18px;
        padding: 0 50px;
      }
    }

    @include media('>=desktop') {
      .title {
        font-size: 39px;
      }
    }
  }


  .h {
    text-align: center;
    margin: 1em 0 2em;
    font-size: 24px;
    font-family: $f-stack-sans;

    @include media('<tablet') {
      font-size: 16px;
    }

    @include media('<phone') {
      font-size: 14px;
    }
  }

  .tabs {
    margin-bottom: 40px;
  }

  @include media(">=desktop") {
    .tabs {
      margin-bottom: 55px;
    }
  }


  @include media(">=xwidescreen") {
    .graphic-section {
      margin-left: -134px;
    }

    .tabs {
      margin-bottom: 76px;
    }
  }


}

.order-process-closer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  padding: 27px 37px 0 0;
  text-align: right;

  a.close {
    font-size: 32px;
    color: $c3;
    text-decoration: none;

    &:hover {
      color: $c1;
      text-decoration: none;
    }
  }

  @include media('<tablet') {
    padding: 17px 27px 0 0;

    a.close {
      font-size: 28px;
    }
  }
}

.js-tab-hidden {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
  top: -9999px !important;
}


.order-process-tabs {
  font-family: $f-stack-special;
  margin-top: 3em;
  @extend %clearfix;
  

  > li {
    display: inline-block;
    background: $c1;
  }

  @include media('<tablet') {
    li {
      width: 50%;
      display: block;
      float: left;
      border: 1px solid #fff;
      margin: -1px;
    }

    a {
      background: $c1;
      color: #fff;
      display: inline-flex;
      width: 100%;
      text-align: center;
      height: 100%;
      justify-content: center;
      align-items: center;
      line-height: 24px;
      text-decoration: none;
    }

    li.active {
      a {
        background: $c2;
      }
    }
  }

  @include media(">=tablet") {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: -9px;
    margin-right: -9px;

    li {
      flex: 1;
      margin: 0 9px 18px;
      height: 52px;
    }

    a {
      background: $c1;
      color: #fff;
      display: inline-flex;
      width: 100%;
      text-align: center;
      height: 100%;
      justify-content: center;
      align-items: center;
      line-height: 24px;
      text-decoration: none;
    }
  }

  @include media(">=tablet", "<desktop") {
    a {
      > span {
        display: inline-block;

        > span {
          display: inline;
        }
      }
    }

    .active {
      a {
        > span {
          > span {
            background-image: repeating-linear-gradient(transparent 50%, rgba(white,.9) 50%);
            background-repeat: repeat-x;
            background-position: 0 100%;
            background-size: 1px 1px;
          }
        }
      }
    }
  }

  @include media(">=desktop") {
    font-size: 18px;

    a {
      text-decoration: none;

      > span {
        display: inline-block;
        border-bottom: 3px solid transparent;
        padding: 0 14px;
      }
    }

    .active {
      a {
        > span {
          border-bottom-color: #fff;
        }
      }
    }
  }

  @include media(">=widescreen") {
    li {
      &:first-child {
        flex: 2;
      }
    }

    a {
      > span {
        padding: 0;
      }
    }
  }
}




.process-tab-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  i {
    margin: 0 0 0 10px;
    font-size: 16px;
  }

  @include media(">=desktop") {
    > a {
      min-width: 310px;
    }
  }

  @include media("<phone") {
    flex-wrap: wrap;

    > a {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}



//
// upload-print-image
// 
.upload-print-image {
  p {
    margin-bottom: 1em;
    line-height: 1.5;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .button {
    width: 100%;
  }

  .block2 {
    img {
      width: 100%;
      height: auto;
    }
  }

  .order-label {
    position: relative;
    z-index: 1;
    margin: -25px auto -5px;
    background: url(../images/bg-order-label.png) no-repeat;
    width: 92px;
    height: 80px;
    text-align: left;
    line-height: 76px;
    font-family: $f-stack-special;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    z-index: 1;

    @include media(">=tablet") {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
  }

  &-holder {
    // display: flex;
    // justify-content: space-between;
    // margin: 0 -9px;
    position: relative;


    .block {
      // flex: 1;
      // margin: 0 9px;
      background: #f0f0f0;
      padding: 17px 15px 20px;
      position: relative;
    }

    .button-holder {
      margin-top: 20px;
    }
  }

  @include media(">=tablet") {
    margin: 0 -15px;

    &-holder {
      display: flex;
      justify-content: space-between;
      margin: 0 -9px;

      .block {
        flex: 1;
        margin: 0 9px;
      }
    }
  }

  @include media(">=xwidescreen") {
    margin: 0 -111px;

    .block {
      padding-left: 111px;
      padding-right: 111px;
    }
  }
}


.download-sample {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 3px solid $c2;
  margin-bottom: 27px;


  .sample {
    flex: 1;
    text-align: center;
    background: url(../images/download.svg) no-repeat 50% 0;
    background-size: 34px 35px;
    padding-top: 43px;

    .box-icon {
      width: 39px;
      height: 39px;
      text-align: left;
      padding: 13px 0 0 4px;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      background-color: #dadada;
      margin: 0 auto 7px;

      &.ai {
        background: #f39100;
      }

      &.ps {
        background: #369;
      }
    }

    &-name {
      color: $c3;
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;
    }
  }
}



//
//  item-check
//
.item-check {
  .h {
    text-align: left;
  }
}

.th {
  font-weight: bold;
}

table.bordered {
  font-size: inherit;

  th {
    border-bottom: 3px solid $c2;
    padding-bottom: 2px;
    font-weight: bold;
  }

  td,
  th {
    font-size: inherit;
    vertical-align: top;
  }
}

.item-check-holder {

  .item-check-image {
    max-width: 310px;
    margin: 0 0 20px;
  }

  .image-border {
    border: 2px solid $c1;
    margin-bottom: 4px;
  }

  table {
    width: 100%;
  }

  .action {
    color: $c1;

    &:hover {
      color: $c2;
    }
  }

  @include media(">=phone") {
    display: flex;
    justify-content: space-between;

    .item-check-image {
      width: (100% / 1080 * 500);
    }

    .item-check-info {
      width: (100% / 1080 * 560);
    }
  }

  @include media('>=tablet') {
    .item-check-image {
      width: (100% / 1080 * 310);
    }

    .item-check-info {
      width: (100% / 1080 * 750);
      padding-top: 7%;
    }
  }
}

.item-check-table {
  td {
    vertical-align: top;
  }

  p {
    margin: 1em 0;

    &:last-child {
      margin: 0;
    }
  }

  @include media('<tablet') {
    th {
      display: none;
    }

    p {
      margin-top: 0.5em;
    }

    td {
      display: block;
      width: 100%;
      padding: 0 0 10px;

      &:before {
        content: attr(table-data) ": ";
        font-weight: bold;
        border-bottom: 3px solid $c2;
        display: block;
        font-size: 1.2em;
      }
    }
  }
}


//
//  choose edition
//
.choose-edition {
  .h {
    text-align: left;
  }

  & + .process-tab-buttons {
    margin-top: 2em;
  }

  table {
    width: 100%;
    margin-bottom: 2em;

    tr:nth-child(2) td {
      padding-top: 1em;
    }
  }

  @include media('>=widescreen') {
    font-size: 16px;
  }
}

.slider {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  
  > div {
    display: inline-block;
    vertical-align: middle;
  }

  .slider-label {
    font-weight: bold;
    
    @include media('<phone') {
      position: absolute;
      top: -1.2em;
      left: 0;

      &.slider-for {
        left: auto;
        right: 0;
      }
    }
  }

  .slider-holder {
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
    max-width: 460px;
  }

  .jcf-range-handle {

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: -6px;
      @include triangle(up, 15px, $c1);
      opacity: 0;
    }
  }

  &.show-popup .jcf-range-handle {
    &:before {
      opacity: 1;
    }
  }
}

.slider-tooltip {
  border: 2px solid $c1;
  padding: 15px;
  position: relative;
  max-width: 475px;
  text-align: left;

  @include media('>=xwidescreen') {
    font-size: 19px;
  }
}

.choose-edition {

  .slider-value {
    position: absolute;
    top: -1.2em;
    left: 0;
    right: 0;
    font-weight: bold;
    text-align: center;
  }
}


.choose-edition-holder {
  .h {
    font-weight: bold;
    margin-bottom: 1em;
  }

  @include media('>=tablet') {
    display: flex;
    justify-content: space-between;

    .choose-edition-selection {
      width: (100% / 1080 * 420);
    }
  }

}


.slider-tooltip{
  width: 320px;
  top: 100%;
  left: 0;
  margin: 10px 0 0 -37px;
  background: #fff;
  z-index: 999;
  visibility: hidden;
}

.show-popup .slider-tooltip{
  visibility: visible;
}
