.product {
  margin-top: 30px;

  @include media('>=tablet') {
    margin-top: 40px;
  }

  @include media('>=desktop') {
    margin-top: 60px;
  }

  @include media('>=widescreen') {
    margin-top: 88px;
  }
}

.product-holder {
  margin: 0 (-$trim);
  
  .product-gallery,
  .product-description {
    padding: 0 $trim;
    margin-bottom: $trim * 2;
  }

  @include media('>=lg-phone') {
    display: flex;
    justify-content: space-between;
    

    .product-gallery,
    .product-description {
      width: 50%;
    }
  }
}

.product-info {
  margin-bottom: 20px;
}


// gallery
.product-gallery-holder {
  position: relative;
  max-width: 608px;
  margin: 0 auto;

  img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
  }

  * {
    outline: none;
  }

  .slide {
    &:not(:first-child) {display: none;}

    @include media('<tablet') {
      &.slick-slide {
        display: block;
      }
    }

    @include media('>=tablet') {
      &.slick-slide {
       display: block;
      }
    }
  }
}

.product-gallery-images {
  margin-bottom: 34px;
  position: relative;

  @include media('<phone') {
    margin: 0 -20px 17px;
  }

  a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .slick-list,
  .slick-track {
    overflow-x: hidden;
  }  
}

.product-gallery-thumbs {
  //margin: 0 -7px;
  @extend %clearfix;
  padding: 0 28px;

  img {
    width: 100%;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: $c1;
    border: 0;
    outline: none;
    font-size: 38px;

    &.slick-disabled {
      opacity: 0.3;
    }
  }

  .slick-slide {
    opacity: 0.6;

    &:hover {
      opacity: 0.8;
    }

    &.slick-current {
      opacity: 1;
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }


  @include media('>=tablet') {
    padding: 0 40px;
  }

  @include media('>=widescreen') {
    padding: 0 95px;

    .slick-arrow {
      font-size: 54px;
    }

    .slick-prev {
      left: 40px;
    }

    .slick-next {
      right: 40px;
    }

  }
  

  .slide {
    float: left;
    width: calc(100% / 4 - 14px);
    margin: 0 14px;
  }

  .gallery-thumb {
    margin: 0;

    &:hover,
    &.slick-current {
      
    }
  }  
}


.product-description-holder {
  .button {
    width: 100%;
    height: 57px;
    font-size: 24px;
  }

  @include media('>=tablet') {
    max-width: 420px;
    margin: 0 auto;
  }

  @include media('>=desktop') {
    font-size: 15px;
  }

  @include media('>=widescreen') {
    font-size: 16px;
  }
}

.product-short-description {
  font-weight: bold;
  margin-bottom: 1em;
}

.product-info {
  a {
    color: $c1;
    text-decoration: underline;
    font-weight: bold;

    &:hover {
      color: $c2;
    }
  }


  dd {
    margin-bottom: 1em;
  }
}


.product-benefits {
  background: $c3;
  color: #fff;
  padding: 43px 2000px 1px;
  margin: 40px -2000px 0;

  @include media('>=tablet') {
    margin-top: 50px;
  }

  .benefits-list {
    margin-bottom: -10px;
  }

  .benefit-title {
    display: block;
  }
}

.product-customer-section {
  margin: 0 -1px;
}
