.second-navigation-wrapper {
  background: $c3;
  color: #fff;

  padding: 74px 2000px 10px;
  margin: 0 -2000px;

  @include media('<tablet') {
    display: none;
  }
}

.second-navigation {
  display: flex;
  justify-content: space-around;
  font-family: $f-stack-special;
  padding-top: 15px;

  @include media('>=desktop') {
    font-size: 17px;
  }

  @include media('>=widescreen') {
    font-size: 18px;
  }

  .anchor-active,
  .active {
    font-weight: bold;
  }
}

.sticky-wrap-second-navigation {
  // position: relative;
  // padding-top: 10px;

  &.fixed-position {
    &:before {
      content: '';
      position: fixed;
      top: 0;
      height: 54px;
      left: -2000px;
      right: -2000px;
      background: $c3;
      z-index: 9;
    }

    ul {
      z-index: 10;

    }
  }
}