.cart.display-single-price {
  @include oneColumnCartItems;
  max-width: 1080px;
  margin: 0 auto;

  .jcf-select {
    min-width: 0;

    @include media('>900px') {
      min-width: 162px;
    }

    .jcf-select-text {
      font-size: 12px;
      margin: 0 34px 0 7px;

      @include media('>900px') {
        font-size: 16px;
        margin: 0 24px 0 7px;
      }
    }
  }

  .button-wrapper {
    display: block !important;

    @include media('>tablet') {
      display: inline-block !important;
    }
  }

  .page-title {
    border: none;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-bottom: 39px;

    @include media('>=600px') {
      font-size: 18px;
      line-height: 24px;
      padding: 0 70px;
    }

    @include media('>900px') {
      font-size: 24px;
      padding: 0;
      margin-bottom: 36px;
    }

    h1 {
      float: none;
      margin: 0 0 14px;

      @include media('>900px') {
        margin: 0 0 18px;
      }
    }
  }

  .cart-footer-actions {
    .button2 {
      border: 2px solid $c-blue;
      color: $c-blue;
      font-size: 24px;
      height: 57px;
      max-width: 309px;
      width: 100%;
      height: 48px;

      @include media('<desktop') {
        width: auto;
        height: 45px;
        font-size: 16px;
        padding: 10px;
      }

      @include media('>desktop') {
        height: 57px;
      }

      @include media('<600px') {
        float: right;
      }

      &:hover {
        background: $c-blue;
        color: #fff;

        span {
          color: #fff;
        }
      }

      span {
        text-decoration: none;
        text-transform: none;
        color: $c-blue;
      }
    }
  }
}

.cart-section-holder {
  .cart-forms,
  .cart-totals-wrapper {
    padding: 0 !important;
    width: 100% !important;
    float: none !important;

    @include media('>=tablet'){
      text-align: center;
    }

    @include media('>=900px') {
      float: left !important;
      width: 50% !important;
      text-align: left;
    }
  }

  @include media('>=desktop') {
    .cart-forms {
      width: 60% !important;
    }

    .cart-totals-wrapper {
      width: 40% !important;
    }

    .method-checkout-cart-methods-onepage-bottom {
      .button {
        min-width: 312px;
      }
    }
  }

  .cart-totals {
    padding: 0;
    border: none;
    background: none;

    .shopping-cart-section {
      background: #f0f0f0;
      padding: 15px 30px;
      margin: 0 0 31px;
      overflow: hidden;
      padding: 9px 30px 15px;

      @include media('>tablet') {
        padding: 28px 30px 15px;
      }

      @include media('>=xwidescreen') {
        padding: 42px 30px 15px;
      }
    }

    table {
      font: bold 12px/16px $f-stack-sans;
      text-transform: none;
      letter-spacing: 1px;
      float: right;
      max-width: 332px;

      @include media('>=tablet'){
        font-size: 14px;
        line-height: 20px;
      }

      @include media('>=xwidescreen') {
        font-size: 16px;
      }

      @include media('<desktop') {
        float: none;
        margin: 0 auto;
      }

      tbody tr {
        &:last-child td {
          padding-bottom: 0;
        }
      }

      td {
        padding: 0;
        text-align: right;
        min-width: 0;

        &:first-child {
          min-width: 0;
          padding-right: 19px;
        }

        &:last-child {
          text-align: left;
          padding-bottom: 0;
        }

      }

      tfoot td {
        font-size: 12px;
        line-height: 15px;
        padding:  0;

        @include media('>tablet') {
          font-size: 16px;
          line-height: 19px;
        }

        strong {
          font-weight: bold;
        }
      }

      span {
        margin: 0;
      }

      tfoot {
        border: none;
      }
    }
  }

  .discount {
    border: none;
    margin: 0;
    font: 12px/16px $f-stack-sans;
    padding: 15px 10px 22px 12px;

    @include media('>tablet') {
      padding: 14px 10px 22px 18px;
    }

    @include media('>=tablet') {
      font-size: 14px;
      line-height: 19px;
      min-height: 143px;
    }

    @include media('>=xwidescreen') {
      font-size: 16px;
      padding: 17px 10px 22px 20px;
      min-height: 146px;
    }
  }
}

#discount-coupon-form .field-wrapper, .cart .giftcard .field-wrapper {
  display: block;
}

.discount-form {
  .button2 {
    background: $c-blue;
    color: #fff;
    text-decoration: none;
    height: 45px;
    min-width: 60px;
    width: 169px;
    font-size: 20px;
    line-height: 23px;
    display: block;
    margin: 33px auto 0;
    float: none !important;

    @include media('>tablet') {
      font-size: 20px;
      line-height: 27px;
      min-width: 169px;
      margin: 0;
      width: auto;
      display: inline-block;
      float: left !important;
    }

    @include media('>desktop') {
      font-size: 20px;
    }

    &:hover {
      background: #008cc7;
    }

    span {
      text-decoration: none;
      color: #fff !important;
      text-transform: none;
    }
  }

  .input-text {
    height: 45px;
    margin: 0 !important;

    @include media('>=600px') {
      margin: 0 20px 0 0 !important;
    }
  }
}

.discount-text {
  margin: 0 0 22px;

  @include media('>=600px') {
    margin: 0 0 8px;
  }

  @include media('>=xwidescreen') {
    margin: 0 0 11px;
  }

  p {
    //display: inline-block;
    display: inline;
    vertical-align: top;
    margin: 0;
  }
}

.info-drop {
  position: relative;
  display: none;

  @include media('>970px') {
    display: inline-block;
    vertical-align: top;
  }

  &:hover {
    .info-holder {
      display: block;
    }
  }

  a {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    background: $c-blue;
    font-size: 14px;
  }

  .info-holder {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 280px;
    padding: 10px 0 0;
    display: none;
    z-index: 1;

    @include media('>=600px') {
      width: 310px;
    }
  }

  .info-frame {
    font-size: 11px;
    line-height: 13px;
    border: 2px solid $c-blue;
    background: #fff;
    padding: 6px 23px 6px 11px;
    position: relative;

    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(213, 0, 0, 0);
      border-bottom-color: $c-blue;
      border-width: 9px;
      margin-left: -7px;
    }

    p {
      margin: 0 0 14px;

      &:last-child {
        margin: 0 0 3px;
      }
    }
  }
}

#discount-coupon-form {
  label {
   font: 12px/15px $f-stack-sans;
   text-transform: none;

   @include media('>=tablet') {
    font: 16px/19px $f-stack-sans;
    text-transform: none;
  }
}
}

.code-label {
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 15px;

  @include media('>=xwidescreen') {
    margin: 0 0 0 10px;
  }

  .jcf-checkbox {
    margin: -3px 5px 0 0;
  }

  & + .code-holder {
    display: none;
    padding: 10px 0 0;

    @include media('>tablet') {
      //padding: 23px 0 0 36px;
      padding: 11px 0 0 36px;
    }
  }

  &.jcf-label-active {
    & + .code-holder{
      display: block;
    }
  }
}

.cart-totals .checkout-types {
  float: none;
  text-align: center;

  @include media('>tablet') {
    float: right;
  }
}

.cart-totals .checkout-types .btn-checkout {
  padding-left: 50px;
  padding-right: 51px;
  font-size: 24px;

  @include media('<tablet') {
    font-size: 20px;
  }
}

.display-single-price {
  max-width: 728px;
  margin: 0 auto;

  @include media('>900px') {
    max-width: none;
  }
}

.cart-table {
  letter-spacing: 1px;

  @include media('<desktop') {
    overflow: auto;
    display: block;
  }

  @include media('<600px') {
    width:100%;
    overflow:hidden;
    display: block;
  }

  .cart-table {
    width:100%;
    overflow:hidden;
  }

  tbody,
  tfoot,
  td,
  tr {
    @include media('<600px') {
      display:block;
    }
  }

  .btn-remove {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: $c-green;

    &:after {
      display: none;
    }

    img {
      width: 15px;
      margin: -1px -1px 0 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .product-image {
    border: 2px solid $c1;
    max-width: 202px;

    @include media('<600px') {
      margin: 0 0 5px;
    }
  }

  .nobr {
    span {
      display: inline-block;
      vertical-align: middle;

      @include media('>desktop') {
        display: none;
      }
    }

    br {
      display: block;

      @include media('>desktop') {
        display: none;
      }
    }
  }

  tr {
    border: none;

    @include media('<600px') {
      float:left;
      width:100%;
      background:#fff;
      clear:both;
    }
  }

  td,
  th {
    @include media('<600px') {
      border: none;
      display: block;
      border-top: 3px solid $c-green;
      padding:0 0 0 65px !important;
      margin:0 -1px 0 -65px !important;
      float:left !important;
      clear:both;
      width:100% !important;
      white-space:nowrap;
      box-sizing: content-box;
    }
  }

  .product-cart-sku {
    display: block;
  }

  td {
    @include media('<600px') {
      > div {
        white-space:normal;
        display:inline-block;
        vertical-align:middle;
        padding: 10px 10px 6px;
        box-sizing: border-box;
        white-space: normal;
        text-align: left;
      }

      &:before {
        content:attr(data-label);
        padding: 11px 27px 5px 0px;
        display:inline-block;
        font: bold 12px/16px $f-stack-sans !important;
        color:#193542 !important;
        width:61px;
        vertical-align:top;
        margin:0 0 0 -65px;
        position:relative;
        text-transform: none;
        white-space:normal;
      }


      &.product-cart-info,
      &.product-cart-actions,
      &.product-cart-price {
        > div {
          padding: 10px 0;
        }

        &:before {
          content: none;
        }
      }
    }
  }

  td {
    &.product-cart-image {
      &:before {
        margin: 0;
        padding: 5px 0 8px;
        display: block;
      }
    }
  }

  thead {
    @include media('<600px') {
      display: none;
    }
  }

  thead th,
  tbody td {
    font: bold 14px/17px $f-stack-sans;
    text-align: left;

    @include media('>900px') {
      font-size: 16px;
      line-height: 20px;
    }
  }

  thead th {
    border-bottom: 3px solid $c-green;
    padding-top: 10px;
    padding-bottom: 9px;
    vertical-align: bottom;

    @include media('>900px') {
      padding-bottom: 6px;
    }
  }

  tbody td {
    font-weight: normal;
    @include media('>=600px') {
      padding-top: 19px;
    }
  }

  tbody {
    @include media('<600px') {
      display:block;
      border-left: 65px solid #fff;
      float:left;
      width:100%;
      padding:0 1px 0 1px;
      box-sizing: border-box;
    }
  }

  h2 {
    font: bold 14px/18px $f-stack-sans;

    @include media('<600px') {
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 16px;
    }

    @include media('>900px') {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 20px;
    }
  }
  .product-cart-image {
    padding-left: 0 !important;

    @include media('<600px') {
      border: none;
    }

    @include media('>600px') {
      width: 17.17%;
    }

    @include media('>900px') {
      width: 18.703%;
    }
  }

  .product-cart-info {
    @include media('>600px') {
      width: 28.983%;
      padding-left: 20px;
    }

    @include media('>900px') {
      width: 21.851%;
      padding-left: 19px;
    }

    .btn-remove {
      @include media('<=600px') {
        position: absolute;
        right: 8px;
        top: 35px;
      }
    }
  }

  .product-cart-price {
    text-align: left !important;

    @include media('>600px') {
      width: 15.384%;
    }

    @include media('>900px') {
      width: 19.907%;
      padding-left: 4px;
    }
  }

  .product-cart-actions {
    text-align: left;

    @include media('>600px') {
      width: 19.917%;
      padding-left: 6px;
    }

    @include media('>900px') {
      width: 20.833%;
      padding-left: 6px;
    }
  }

  .product-cart-total {
    text-align: left !important;

    @include media('<600px') {
      display: block;
    }

    @include media('>600px') {
      width: 19.09%;
      padding-left: 8px;
    }

    @include media('>900px') {
      width: 15.74%;
      padding-left: 8px;
    }
  }

  .product-cart-remove {
    @include media('>900px') {
      width: 2.87%;
      padding-left: 5px;
    }
  }

  td.product-cart-remove {
    @include media('>=600px') {
      padding-top: 14px !important;
    }
  }

  .item-options {
    font: 14px/18px $f-stack-sans;

    @include media('<600px') {
      font-size: 12px;
      line-height: 16px;
    }

    @include media('>desktop') {
      font-size: 16px;
      line-height: 20px;
    }

    dt {
      font-weight: normal;
      padding-right: 1px;
    }

    dd {
      margin: 0;
    }
  }

  .cart-price {

    @include media('<tablet') {
      display: block;
    }

    span {
      display: inline-block;
      vertical-align: top;
    }

    &+.cart-price {
      .price-box .price,
      .price,
      .example {
        font-weight: normal;
        margin: 0;
      }
    }
  }

  .price-box .price,
  .price,
  .example {
    font: bold 14px/18px $f-stack-sans;
    display: block;
    margin: 0 0 5px;

    @include media('>600px') {
      margin: 0 0 19px;
    }


    @include media('>900px') {
      font-size: 16px;
      line-height: 20px;
      white-space: nowrap;
    }
  }

  .cart-price,
  .product-cart-actions,
  .product-cart-total {
    @include media('<lg-phone') {
      font-size: 12px;

      * {
        font-size: 12px;
      }
    }
  }

  .cart-links {
    text-align: left;
    padding-bottom: 12px;

    li {
      text-align: left;
    }

    a {
      width: auto;
      color: $c-blue;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      border-bottom: 3px solid;
      padding: 0 0.1em;
      display: inline-block !important;
      vertical-align: top;

      &:hover {
        text-decoration: none;
        color: $c-green;
      }
    }
  }
}


.button2 span, .button2 span span {
  line-height: inherit;
}

.cart-frame {
  @include media('<tablet') {
    min-height: 0 !important;
  }
}